Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

perf(admin): cache management segmentation
  server/admin/src/client/i18n.ts
  server/admin/src/client/routes/cache.tsx
  server/admin/src/server/router/cache.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: fix install problem
  tsconfig.json
Due: none

docs: update troubleshooting
  website/docs/deployment/troubleshooting.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/troubleshooting.md
Due: none

feat: 增加视频上传和播放
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/Card/VideoCard.tsx
  client/web/src/components/Card/index.tsx
  client/web/src/components/ChatBox/ChatInputBox/Addon.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: add fallback for github account which maybe not include name in github
  server/plugins/com.msgbyte.iam/strategies/github.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: add more offline icons
  client/web/plugins/com.msgbyte.offline-icons/scripts/extract-icons.ts
  client/web/plugins/com.msgbyte.offline-icons/src/icons.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复播放
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/Card/FileCard.tsx
  client/web/src/components/Card/VideoCard.tsx
  client/web/src/components/Card/index.tsx
  client/web/src/components/ChatBox/ChatInputBox/Addon.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: added forceUploadOriginImage to force specify whether to enable image compression
  client/web/src/components/ChatBox/ChatInputBox/utils.tsx
  client/web/src/components/modals/ImageUploadPreviewer.tsx
  client/web/src/utils/image-helper.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: optimize the display of global notifications and increase system notification prompts
  client/web/src/components/GlobalAnnouncementBar.tsx
  client/web/src/plugin/common/index.ts
  server/admin/src/client/i18n.ts
  server/admin/src/client/routes/system/index.tsx
  server/admin/src/client/routes/system/notify.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add typesciprt support document and others
  website/docs/plugins/guide/init-env.md
  website/docs/plugins/guide/typescript-support.md
  website/docs/plugins/start.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/create-theme.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/init-env.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/typescript-support.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/start.mdx
Due: none

fix: 修改视频播放为插件
  client/web/plugins/cn.ssdcc.tailchat.video/manifest.json
  client/web/plugins/cn.ssdcc.tailchat.video/package.json
  client/web/plugins/cn.ssdcc.tailchat.video/src/index.tsx
  client/web/plugins/cn.ssdcc.tailchat.video/src/translate.ts
  client/web/plugins/cn.ssdcc.tailchat.video/tsconfig.json
  client/web/plugins/cn.ssdcc.tailchat.video/types/tailchat.d.ts
  client/web/src/components/Card/FileCard.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: README add desktop build badge
  README.md
  README.zh.md
Due: none

feat: init excalidraw plugin
  pnpm-lock.yaml
  server/plugins/com.msgbyte.excalidraw/.ministarrc.js
  server/plugins/com.msgbyte.excalidraw/models/excalidraw.ts
  server/plugins/com.msgbyte.excalidraw/package.json
  server/plugins/com.msgbyte.excalidraw/services/excalidraw.service.dev.ts
  server/plugins/com.msgbyte.excalidraw/web/plugins/com.msgbyte.excalidraw/manifest.json
  server/plugins/com.msgbyte.excalidraw/web/plugins/com.msgbyte.excalidraw/package.json
  server/plugins/com.msgbyte.excalidraw/web/plugins/com.msgbyte.excalidraw/src/ExcalidrawRender.tsx
  server/plugins/com.msgbyte.excalidraw/web/plugins/com.msgbyte.excalidraw/src/index.tsx
  server/plugins/com.msgbyte.excalidraw/web/plugins/com.msgbyte.excalidraw/tsconfig.json
  server/plugins/com.msgbyte.excalidraw/web/plugins/com.msgbyte.excalidraw/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: add plugin list maybe repeat problem
  client/web/src/plugin/PluginStore/index.tsx
  client/web/src/plugin/manager.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.8.5
  CHANGELOG.md
  package.json
Due: none

docs: release note v1.8.5
  website/blog/2023-07-19-v1.8.5.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-19-v1.8.5.md
  website/static/img/blog/release-note/v1.8.5/1.png
  website/static/img/blog/release-note/v1.8.5/2.png
  website/static/img/blog/release-note/v1.8.5/3.png
  website/static/img/blog/release-note/v1.8.5/4.png
Due: none

feat(desktop): add flash frame when receive message
  .github/workflows/desktop-build.yml
  client/desktop/src/main/inject/message-handler.ts
  client/desktop/src/main/main.ts
  client/web/plugins/com.msgbyte.env.electron/src/index.tsx
  client/web/plugins/com.msgbyte.env.electron/src/utils.ts
  client/web/plugins/com.msgbyte.env.rn/src/index.tsx
  client/web/plugins/com.msgbyte.env.rn/src/utils.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: reduce instance number in docker-compose
  docker-compose.yml
Due: none

chore: remove w2a client
  client/w2a/.gitignore
  client/w2a/__W2A__nightly.paw.msgbyte.com.append.css
  client/w2a/app.js
  client/w2a/client_index.html
  client/w2a/manifest.json
  client/w2a/sitemap.json
  client/w2a/unpackage/res/icons/1024x1024.png
  client/w2a/unpackage/res/icons/120x120.png
  client/w2a/unpackage/res/icons/144x144.png
  client/w2a/unpackage/res/icons/152x152.png
  client/w2a/unpackage/res/icons/167x167.png
  client/w2a/unpackage/res/icons/180x180.png
  client/w2a/unpackage/res/icons/192x192.png
  client/w2a/unpackage/res/icons/20x20.png
  client/w2a/unpackage/res/icons/29x29.png
  client/w2a/unpackage/res/icons/40x40.png
  client/w2a/unpackage/res/icons/58x58.png
  client/w2a/unpackage/res/icons/60x60.png
  client/w2a/unpackage/res/icons/72x72.png
  client/w2a/unpackage/res/icons/76x76.png
  client/w2a/unpackage/res/icons/80x80.png
  client/w2a/unpackage/res/icons/87x87.png
  client/w2a/unpackage/res/icons/96x96.png
Due: prettier --write --config ./.prettierrc.json

chore: release tailchat-cli@1.5.11
  apps/cli/package.json
Due: none

refactor: update notfound or nodata component export in plugin
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/NoData.tsx
  client/web/src/components/NotFound.tsx
  client/web/src/plugin/component/index.tsx
  client/web/src/routes/Main/Content/Personal/Friends/AddFriend.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix i18n problem in about panel
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/modals/SettingsView/About.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: append missed offline icons
  client/web/plugins/com.msgbyte.genshin/package.json
  client/web/plugins/com.msgbyte.genshin/src/index.tsx
  client/web/plugins/com.msgbyte.offline-icons/scripts/extract-icons.ts
  client/web/plugins/com.msgbyte.offline-icons/src/icons.json
  client/web/src/components/UserPicker/UserPicker.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: optimize the avatar text performance of the `com.msgbyte.genshin` plugin
  client/web/plugins/com.msgbyte.genshin/src/GenshinPanel/GachaPool/GachaPoolItem.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add tushan icon in about page
  client/web/src/components/modals/SettingsView/About.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: skip div attr process in xss
  client/web/plugins/com.msgbyte.webview/src/group/GroupCustomWebPanelRender.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add export_options.plist
  client/mobile/ios/export_options.plist
  codemagic.yaml
Due: none

perf(desktop): reduce logo png size
  client/desktop/assets/icon.png
Due: none

docs: update plugin list
  website/docs/plugin-list/fe.md
  website/docs/plugin-list/full.md
Due: none

style: remove baseUrl in frontend plugin
  client/web/plugins/README.md
  client/web/plugins/com.msgbyte.bbcode/tsconfig.json
  client/web/plugins/com.msgbyte.draw/tsconfig.json
  client/web/plugins/com.msgbyte.genshin/tsconfig.json
  client/web/plugins/com.msgbyte.integration/tsconfig.json
  client/web/plugins/com.msgbyte.intro/tsconfig.json
  client/web/plugins/com.msgbyte.miaolang/tsconfig.json
  client/web/plugins/com.msgbyte.notify/tsconfig.json
  client/web/plugins/com.msgbyte.openapi/tsconfig.json
  client/web/plugins/com.msgbyte.snapdrop/tsconfig.json
  client/web/plugins/com.msgbyte.theme.genshin/tsconfig.json
  client/web/plugins/com.msgbyte.theme.miku/tsconfig.json
  client/web/plugins/com.msgbyte.toolwa/tsconfig.json
  client/web/plugins/com.msgbyte.webview/tsconfig.json
Due: none

test: fix snapshot problem
  client/web/src/components/__tests__/__snapshots__/NoData.spec.tsx.snap
Due: none

feat(electron): add auto upgrade version check
  client/desktop/src/main/inject/index.ts
  client/shared/index.tsx
  client/web/plugins/.eslintrc.js
  client/web/plugins/com.msgbyte.env.electron/package.json
  client/web/plugins/com.msgbyte.env.electron/src/DeviceInfoPanel.tsx
  client/web/plugins/com.msgbyte.env.electron/src/checkUpdate.tsx
  client/web/plugins/com.msgbyte.env.electron/src/index.tsx
  client/web/plugins/com.msgbyte.env.electron/src/translate.ts
  client/web/plugins/com.msgbyte.env.electron/src/utils.ts
  client/web/plugins/com.msgbyte.env.electron/tsconfig.json
  client/web/plugins/com.msgbyte.env.electron/types/tailchat.d.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加插件卡片自定义能力
  client/web/plugins/cn.ssdcc.tailchat.video/manifest.json
  client/web/plugins/cn.ssdcc.tailchat.video/package.json
  client/web/plugins/cn.ssdcc.tailchat.video/src/index.tsx
  client/web/plugins/cn.ssdcc.tailchat.video/src/translate.ts
  client/web/plugins/cn.ssdcc.tailchat.video/tsconfig.json
  client/web/plugins/cn.ssdcc.tailchat.video/types/tailchat.d.ts
  client/web/src/components/Card/FileCard.tsx
  client/web/src/components/Card/index.tsx
  client/web/src/plugin/common/reg.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加插件卡片自定义能力
  client/web/src/components/Card/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: optimize page loading timing, and allow refresh on resource loading issues
  client/web/assets/template.html
  client/web/build/webpack.config.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add desktop button link in homepage feature
  website/src/components/FeatureSection.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 卡片更加抽象一些
  client/web/src/components/Card/FileCard.tsx
  client/web/src/components/Card/index.tsx
  client/web/src/plugin/common/reg.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

Update smtp.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/smtp.md
Due: none

Update reg.ts
  client/web/src/plugin/common/reg.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

Path conditions:
  prettier --write --config ./.prettierrc.json: ((any of: src/*.{json,less}) or (any of: **/*.js)) or (any of: **/*.{ts,tsx})
  eslint --fix: any of: **/*.{ts,tsx}
