Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

docs: update README
  README.md
  README.zh.md
Due: none

chore(admin): update ts config
  server/admin/app/ra/authProvider.ts
  server/admin/app/ra/dashboard/CardWithIcon.tsx
  server/admin/app/ra/i18n/index.ts
  server/admin/app/ra/layout/index.tsx
  server/admin/app/ra/resources/chat.tsx
  server/admin/app/ra/resources/file.tsx
  server/admin/app/ra/resources/group.tsx
  server/admin/app/ra/resources/user.tsx
  server/admin/app/ra/theme.ts
  server/admin/tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf(admin): replace ts-node with node to run admin
  package.json
  server/admin/package.json
Due: none

chore: fix docker build problem
  Dockerfile
  server/admin/package.json
Due: none

chore(admin): change start cwd path, to make anything run in dist/admin
  server/admin/package.json
Due: none

chore: copy public into dist folder
  server/admin/package.json
Due: none

feat: add unlimited upload api in admin
  docker-compose.env
  pnpm-lock.yaml
  server/.env.example
  server/admin/app/server/broker.ts
  server/admin/app/server/router/api.ts
  server/admin/app/server/router/upload.ts
  server/admin/package.json
  server/packages/sdk/src/services/lib/settings.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: add umami into website and nightly web
  client/web/build/inject-analytics.js
  pnpm-lock.yaml
  website/docusaurus.config.js
  website/package.json
Due: prettier --write --config ./.prettierrc.json

feat(admin): add converseID filter and message detail
  server/admin/app/ra/App.tsx
  server/admin/app/ra/i18n/custom.ts
  server/admin/app/ra/resources/chat.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: perf SystemConfig item
  server/admin/app/ra/routes/system/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): allow edit client config serverName edit in admin
  server/admin/app/ra/components/Image.tsx
  server/admin/app/ra/i18n/custom.ts
  server/admin/app/ra/routes/system/index.tsx
  server/admin/app/ra/utils/hooks.ts
  server/admin/app/ra/utils/index.ts
  server/admin/app/routes/admin/$.tsx
  server/admin/app/routes/admin/index.tsx
  server/admin/app/server/index.ts
  server/admin/app/server/router/config.ts
  server/admin/tsconfig.json
  server/models/config.ts
  server/packages/sdk/src/services/base.ts
  server/services/core/config.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add custom serverName render in login view
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/index.tsx
  client/shared/model/config.ts
  client/shared/package.json
  client/shared/redux/slices/global.ts
  client/shared/store/globalConfig.ts
  client/shared/utils/consts.ts
  client/web/src/routes/Entry/LoginView.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: allow admin upload and edit serverEntryImage
  client/shared/model/config.ts
  client/web/src/routes/Entry/index.tsx
  pnpm-lock.yaml
  server/admin/app/ra/components/Image.tsx
  server/admin/app/ra/i18n/custom.ts
  server/admin/app/ra/routes/system/index.tsx
  server/admin/app/ra/utils/index.ts
  server/admin/app/server/router/api.ts
  server/admin/app/server/router/file.ts
  server/admin/package.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): add delete button in server entry image
  server/admin/app/ra/i18n/custom.ts
  server/admin/app/ra/routes/system/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: fix typo of env staticHost
  server/packages/sdk/src/services/lib/settings.ts
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.6.7
  CHANGELOG.md
  package.json
Due: none

docs: add release note v1.6.7
  website/blog/2023-03-14-v1.6.7.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-03-14-v1.6.7.md
Due: none

feat: add send button when message input has content
  client/web/src/components/ChatBox/ChatInputBox/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: disable redux serializable check
  client/shared/redux/store.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: reuse script in same image in single emoji
  client/web/src/components/Emoji/Emoji.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update wechat qrcode
  website/static/img/wechat.jpg
Due: none

fix: fix rn plugin error and plain message
  client/web/plugins/com.msgbyte.env.rn/manifest.json
  client/web/plugins/com.msgbyte.env.rn/package.json
  client/web/plugins/com.msgbyte.env.rn/src/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add mobile level socket to subscribe remote message
  client/mobile/package.json
  client/mobile/src/lib/inject/message-handler.ts
  client/mobile/src/lib/socket/index.ts
  client/mobile/src/types.ts
  client/mobile/tsconfig.json
  client/mobile/yarn.lock
  client/web/plugins/com.msgbyte.env.rn/src/index.tsx
  packages/types/index.ts
  packages/types/model/inbox.ts
  packages/types/model/user.ts
  packages/types/package.json
  pnpm-workspace.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor(mobile): move socket into foreground service
  client/mobile/scripts/notify-links.js
  client/mobile/src/AppMain.tsx
  client/mobile/src/lib/inject/message-handler.ts
  client/mobile/src/lib/notifications/index.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(mobile): integrate getui for chinese mainland notify push
  client/mobile/.env.example
  client/mobile/android/app/build.gradle
  client/mobile/android/app/src/debug/AndroidManifest.xml
  client/mobile/android/app/src/main/AndroidManifest.xml
  client/mobile/android/app/src/main/java/com/tailchat/MainApplication.java
  client/mobile/android/build.gradle
  client/mobile/android/settings.gradle
  client/mobile/ios/Podfile.lock
  client/mobile/ios/Tailchat/AppDelegate.h
  client/mobile/ios/Tailchat/AppDelegate.mm
  client/mobile/package.json
  client/mobile/src/lib/inject/message-handler.ts
  client/mobile/src/lib/notifications/getui.ts
  client/mobile/src/lib/notifications/index.ts
  client/mobile/types/index.d.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix emoji render problem if not found
  client/web/src/components/Emoji/Emoji.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add chinese language support in website homepage
  website/i18n/zh-Hans/code.json
  website/src/components/FeatureSection.less
  website/src/components/FeatureSection.tsx
  website/src/components/HomepageHeader.tsx
  website/src/components/JoinCommunity.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add event tracker in website
  website/src/components/HomepageHeader.tsx
  website/src/components/JoinCommunity.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(server): add getuiclient lib and plugin
  pnpm-lock.yaml
  server/.env.example
  server/plugins/com.msgbyte.getui/lib/GetuiClient.ts
  server/plugins/com.msgbyte.getui/models/log.ts
  server/plugins/com.msgbyte.getui/package.json
  server/plugins/com.msgbyte.getui/services/getui.service.ts
  server/test/demo/getui/index.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: hide null title link meta case
  server/plugins/com.msgbyte.linkmeta/web/plugins/com.msgbyte.linkmeta/src/UrlMetaPreviewer/render.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add codemagic script for ios
  codemagic.yaml
Due: none

feat: add server getui.service
  server/plugins/com.msgbyte.getui/models/log.ts
  server/plugins/com.msgbyte.getui/services/getui.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update codemagic ios bundle path
  codemagic.yaml
Due: none

fix: fix url which without protocol will not been correct parse
  client/web/plugins/com.msgbyte.webview/package.json
  client/web/plugins/com.msgbyte.webview/src/group/GroupWebPanelRender.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: uniform partial dependencies
  client/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs: add user blog Tailchat Synology deployment record
  website/blog/2023-03-27-deploy-in-synology.md
  website/blog/authors.yml
  website/docs/contribution/community.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-03-27-deploy-in-synology.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/authors.yml
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/contribution/community.md
  website/static/img/avatar/reacher.png
Due: none

feat(mobile): remove getui build problem
  client/mobile/package.json
  client/mobile/patches/react-native-getui+1.1.42.patch
  client/mobile/src/lib/inject/message-handler.ts
  client/mobile/src/lib/notifications/index.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(mobile): add i18n support in rn
  client/mobile/ios/Podfile.lock
  client/mobile/ios/Tailchat.xcodeproj/project.pbxproj
  client/mobile/ios/Tailchat.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  client/mobile/ios/Tailchat.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/mobile/package.json
  client/mobile/src/Entry.tsx
  client/mobile/src/lib/i18n/index.ts
  client/mobile/src/lib/i18n/translations/en.json
  client/mobile/src/lib/i18n/translations/zh.json
  client/mobile/src/lib/notifications/index.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add huawei vendor SDK integration
  client/mobile/.env.example
  client/mobile/.gitignore
  client/mobile/android/app/build.gradle
  client/mobile/android/build.gradle
  codemagic.yaml
Due: none
