Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: update admin file page size changer and allow clear for usage
  pnpm-lock.yaml
  server/admin/package.json
  server/admin/src/client/resources/file.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add image usage for markdown component
  client/web/plugins/com.msgbyte.mdpanel/src/group/MarkdownPanel.tsx
  client/web/src/components/Markdown/editor.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: update maxrows for admin
  server/admin/src/server/router/api.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade pnpm version
  .github/workflows/ci.yaml
  Dockerfile
Due: none

chore: fix ci problem
  .github/workflows/admin.yaml
Due: none

docs: update qrcode
  website/static/img/wechat.jpg
  website/static/img/wechat2.jpg
Due: none

docs: add ClawCloud Run button
  README.md
  README.zh.md
Due: none

feat(auth): record user login ip history
  client/web/package.json
  pnpm-lock.yaml
  server/admin/src/client/App.tsx
  server/admin/src/client/fields.ts
  server/admin/src/client/i18n/zh.ts
  server/admin/src/server/router/api.ts
  server/models/user/user.ts
  server/models/user/userLoginLog.ts
  server/services/core/gateway.service.ts
  server/services/core/user/user.service.ts
  server/test/integration/user/user.spec.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.11.11
  CHANGELOG.md
  package.json
Due: none

ci(actions): update cache action to v4
  .github/workflows/admin.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-deno.yml
  .github/workflows/deploy-laf.yml
  .github/workflows/deploy-website.yml
Due: none

Add RepoCloud deploy button
  README.md
Due: none

fix(openapi): require manageUser permission to add bot to group
  server/services/openapi/integration.service.ts
  server/test/integration/openapi/integration.spec.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(chat): enforce converse membership, add leave and friend-only invite
  client/shared/cache/cache.ts
  client/shared/helper/converse-helper.ts
  client/shared/hooks/model/useUserSettings.ts
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/model/converse.ts
  client/shared/model/user.ts
  client/shared/redux/hooks/useConverseMessage.ts
  client/shared/redux/setup.ts
  client/shared/redux/slices/chat.ts
  client/web/src/components/Panel/personal/ConversePanel.spec.tsx
  client/web/src/components/Panel/personal/ConversePanel.tsx
  client/web/src/components/modals/AppendDMConverseMembers.spec.tsx
  client/web/src/components/modals/AppendDMConverseMembers.tsx
  client/web/src/components/modals/SettingsView/System.tsx
  client/web/src/routes/Main/Content/Personal/SidebarDMItem.tsx
  client/web/test/converse-membership.spec.ts
  client/web/test/user-settings.spec.tsx
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/models/chat/converse.ts
  server/models/user/user.ts
  server/openapi.json
  server/services/core/chat/converse.service.ts
  server/services/core/chat/message.service.ts
  server/services/core/user/dmlist.service.ts
  server/test/integration/chat/converse.spec.ts
  server/test/integration/chat/message.spec.ts
  website/docs/advanced-usage/conversations.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/conversations.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(chat): enforce converse membership, add leave and friend-only invite (#318)
  client/shared/cache/cache.ts
  client/shared/helper/converse-helper.ts
  client/shared/hooks/model/useUserSettings.ts
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/model/converse.ts
  client/shared/model/user.ts
  client/shared/redux/hooks/useConverseMessage.ts
  client/shared/redux/setup.ts
  client/shared/redux/slices/chat.ts
  client/web/src/components/Panel/personal/ConversePanel.spec.tsx
  client/web/src/components/Panel/personal/ConversePanel.tsx
  client/web/src/components/modals/AppendDMConverseMembers.spec.tsx
  client/web/src/components/modals/AppendDMConverseMembers.tsx
  client/web/src/components/modals/SettingsView/System.tsx
  client/web/src/routes/Main/Content/Personal/SidebarDMItem.tsx
  client/web/test/converse-membership.spec.ts
  client/web/test/user-settings.spec.tsx
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/models/chat/converse.ts
  server/models/user/user.ts
  server/openapi.json
  server/services/core/chat/converse.service.ts
  server/services/core/chat/message.service.ts
  server/services/core/user/dmlist.service.ts
  server/test/integration/chat/converse.spec.ts
  server/test/integration/chat/message.spec.ts
  website/docs/advanced-usage/conversations.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/conversations.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.11.13
  CHANGELOG.md
  package.json
Due: none

fix(docker): install mc from quay.io image
  Dockerfile
Due: none

chore: release v1.11.14
  CHANGELOG.md
  package.json
Due: none

feat(admin-next): add collapsible icon-only sidebar
  server/admin-next/src/client/components.test.tsx
  server/admin-next/src/client/components.tsx
  server/admin-next/src/client/i18n.tsx
  server/admin-next/src/client/styles.css
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(admin-next): align user action menu items
  server/admin-next/src/client/components.test.tsx
  server/admin-next/src/client/styles.css
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin-next): support nickname#discriminator user search
  server/admin-next/package.json
  server/admin-next/src/server/middleware/express-mongoose-ra-json-server/index.ts
  server/admin-next/src/server/middleware/express-mongoose-ra-json-server/utils/parseQuery.test.ts
  server/admin-next/src/server/middleware/express-mongoose-ra-json-server/utils/parseQuery.ts
  server/admin-next/src/server/router/api.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore(plugins): remove ai-assistant plugin
  client/web/plugins/com.msgbyte.ai-assistant/assets/icon.png
  client/web/plugins/com.msgbyte.ai-assistant/manifest.json
  client/web/plugins/com.msgbyte.ai-assistant/package.json
  client/web/plugins/com.msgbyte.ai-assistant/src/index.tsx
  client/web/plugins/com.msgbyte.ai-assistant/src/popover.tsx
  client/web/plugins/com.msgbyte.ai-assistant/src/prompt.ts
  client/web/plugins/com.msgbyte.ai-assistant/src/translate.ts
  client/web/plugins/com.msgbyte.ai-assistant/tsconfig.json
  client/web/plugins/com.msgbyte.ai-assistant/types/tailchat.d.ts
  client/web/registry.json
  client/web/src/plugin/builtin.ts
  pnpm-lock.yaml
  website/docs/plugin-list/fe.md
  website/docs/plugins/guide/deploy.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/deploy.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

build(docker): use multi-stage build to shrink runtime image
  .dockerignore
  Dockerfile
Due: none

fix(friend): restrict relation creation to internal services
  server/openapi.json
  server/services/core/user/friend.service.ts
  server/test/integration/user/friend.spec.ts
  website/docs/plugins/guide/deploy.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/deploy.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(admin-next): resolve backend image urls
  server/admin-next/src/client/core.test.ts
  server/admin-next/src/client/core.ts
  server/admin-next/src/client/pages.tsx
  server/admin-next/src/client/resources.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin-next): add resizable table columns
  server/admin-next/src/client/components.test.tsx
  server/admin-next/src/client/components.tsx
  server/admin-next/src/client/pages.tsx
  server/admin-next/src/client/resources.tsx
  server/admin-next/src/client/styles.css
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor(server): extract getRequestIp into shared lib
  server/lib/__tests__/requestIp.spec.ts
  server/lib/requestIp.ts
  server/services/core/gateway.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(socketio): attach client ip to socket meta
  server/mixins/__tests__/socketio.spec.ts
  server/mixins/socketio.mixin.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(user): rate limit registration attempts per ip
  server/.env.example
  server/lib/__tests__/requestIp.spec.ts
  server/lib/requestIp.ts
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/packages/sdk/src/runner/moleculer.config.ts
  server/packages/sdk/src/services/lib/settings.ts
  server/services/core/user/user.service.ts
  server/test/integration/user/registrationLimit.spec.ts
  server/test/integration/user/user.spec.ts
  server/test/utils.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs(deployment): document registration ip limits
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: none

chore: release v1.11.15
  CHANGELOG.md
  package.json
Due: none

docs: release note v1.11.15
  website/blog/2026-09-27-v1.11.15.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2026-09-27-v1.11.15.md
Due: none

docs: backfill release notes v1.11.2 to v1.11.14
  website/blog/2024-05-05-v1.11.2.md
  website/blog/2024-05-12-v1.11.3.md
  website/blog/2024-06-02-v1.11.4.md
  website/blog/2024-06-04-v1.11.5.md
  website/blog/2024-07-21-v1.11.6.md
  website/blog/2024-09-08-v1.11.7.md
  website/blog/2024-10-29-v1.11.8.md
  website/blog/2024-11-24-v1.11.9.md
  website/blog/2025-01-03-v1.11.10.md
  website/blog/2026-06-11-v1.11.11.md
  website/blog/2026-07-21-v1.11.12.md
  website/blog/2026-09-23-v1.11.13.md
  website/blog/2026-09-23-v1.11.14.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-05-05-v1.11.2.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-05-12-v1.11.3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-06-02-v1.11.4.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-06-04-v1.11.5.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-07-21-v1.11.6.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-09-08-v1.11.7.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-10-29-v1.11.8.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2024-11-24-v1.11.9.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2025-01-03-v1.11.10.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2026-06-11-v1.11.11.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2026-07-21-v1.11.12.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2026-09-23-v1.11.13.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2026-09-23-v1.11.14.md
Due: none

ci(website): pin node 24 for vercel deploy
  website/package.json
Due: none

fix(user): restrict profile emails to their owner
  client/shared/model/user.ts
  packages/types/src/model/user.ts
  server/packages/sdk/src/services/base.ts
  server/packages/sdk/src/services/lib/settings.ts
  server/services/core/gateway.service.ts
  server/services/core/user/user.service.ts
  server/services/openapi/bot.service.ts
  server/test/integration/user/emailPrivacy.spec.ts
  website/docs/plugins/api/common.md
  website/docs/plugins/guide/init-env.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/api/common.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/init-env.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(user): isolate cached profiles by viewer
  client/shared/cache/cache.ts
  client/web/test/user-email-privacy.spec.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.11.16
  CHANGELOG.md
  package.json
Due: none

fix(test): transform sanitizer esm dependencies
  client/web/jest.config.js
Due: prettier --write --config ./.prettierrc.json

fix(docker): build minio client from pinned source
  Dockerfile
  website/docs/deployment/docker-compose.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/docker-compose.mdx
Due: none

ci(vercel): use node 24 for nightly deployments
  .github/workflows/vercel-nightly-test.yml
  .github/workflows/vercel-nightly.yml
  website/docs/deployment/dev.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/dev.md
Due: none

Path conditions:
  prettier --write --config ./.prettierrc.json: ((any of: src/*.{json,less}) or (any of: **/*.js)) or (any of: **/*.{ts,tsx})
  eslint --fix: any of: **/*.{ts,tsx}
