Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

chore: 调整桌面端打包逻辑
  client/desktop/.erb/configs/webpack.config.base.ts
  client/desktop/package.json
  client/desktop/src/main/main.ts
  client/web/src/init.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加group topic创建
  server/models/group/group.ts
  server/models/group/topic.ts
  server/packages/sdk/src/index.ts
  server/packages/sdk/src/structs/group.ts
  server/services/core/group/group.service.ts
  server/services/core/group/topic.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: chatmessagelist add key to refresh context
  client/web/src/components/ChatBox/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add webpack-stats-viewer-plugin
  client/web/build/webpack.config.ts
  client/web/package.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(cli): add server-plugin-full
  cli/package.json
  cli/src/commands/create.ts
  cli/src/commands/declaration.ts
  cli/templates/plopfile.js
  cli/templates/server-plugin-full/{{id}}/.ministarrc.js
  cli/templates/server-plugin-full/{{id}}/models/{{pickPluginName id}}.ts
  cli/templates/server-plugin-full/{{id}}/package.json
  cli/templates/server-plugin-full/{{id}}/services/{{pickPluginName id}}.service.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 迁移topic到单独插件上
  cli/src/commands/app.ts
  cli/templates/server-plugin-full/{{id}}/package.json
  cli/templates/server-plugin-full/{{id}}/services/{{pickPluginName id}}.service.ts
  cli/templates/server-plugin/{{id}}/package.json
  cli/templates/server-plugin/{{id}}/services/{{pickPluginName id}}.service.ts
  pnpm-lock.yaml
  server/packages/sdk/package.json
  server/packages/sdk/src/structs/group.ts
  server/plugins/com.msgbyte.topic/models/topic.ts
  server/plugins/com.msgbyte.topic/package.json
  server/plugins/com.msgbyte.topic/services/topic.service.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/manifest.json
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/package.json
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/index.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/tsconfig.json
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 优化已读逻辑，修改为使用Intersection来校验消息是否已读
  client/shared/event/index.ts
  client/shared/redux/hooks/useConverseAck.ts
  client/shared/redux/slices/chat.ts
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
  client/web/src/components/ChatBox/ChatMessageList/NormalList.tsx
  client/web/src/components/ChatBox/ChatMessageList/VirtualizedList.tsx
  client/web/src/components/ChatBox/ChatMessageList/types.ts
  client/web/src/components/ChatBox/index.tsx
  client/web/src/components/ChatBox/useMessageAck.ts
  client/web/src/components/Intersection.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 修复类型问题
  client/web/src/components/ChatBox/ChatMessageList/NormalList.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 收件箱基本UI
  client/web/src/routes/Main/Content/Inbox/Sidebar.tsx
  client/web/src/routes/Main/Content/Inbox/index.tsx
  client/web/src/routes/Main/Content/PageContent.tsx
  client/web/src/routes/Main/Content/Personal/index.tsx
  client/web/src/routes/Main/Content/index.tsx
  client/web/src/routes/Main/Navbar/InboxNav.tsx
  client/web/src/routes/Main/Navbar/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

feat: 移除身份组的时候顺便移除已有成员的该角色
  server/models/group/group.ts
  server/services/core/group/group.service.ts
  server/test/integration/group/group.spec.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加删除身份组功能(开发环境)
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/modals/GroupDetail/Role/index.tsx
  client/web/src/components/modals/GroupDetail/Role/tabs/summary.tsx
  client/web/src/components/modals/GroupDetail/Role/useRoleActions.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化人员管理交互
  client/web/src/components/modals/GroupDetail/Role/tabs/member.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 修改请求错误提示，改为生产环境统一显示系统忙
  client/shared/hooks/useAsyncRequest.ts
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: update scrollToBottom
  client/web/src/components/ChatBox/ChatMessageList/VirtualizedList.tsx
  client/web/src/components/UserListItem.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor(cli): full格式的模板增加依赖和脚本
  cli/package.json
  cli/templates/server-plugin-full/{{id}}/package.json
  pnpm-lock.yaml
  server/plugins/com.msgbyte.topic/.ministarrc.js
  server/plugins/com.msgbyte.topic/package.json
Due: prettier --write --config ./.prettierrc.json

style: 补充在迁移中丢失的模板代码
  cli/.gitignore
  cli/src/commands/declaration.ts
  cli/templates/server-plugin-full/{{id}}/web/plugins/{{id}}/manifest.json
  cli/templates/server-plugin-full/{{id}}/web/plugins/{{id}}/package.json
  cli/templates/server-plugin-full/{{id}}/web/plugins/{{id}}/src/index.tsx
  cli/templates/server-plugin-full/{{id}}/web/plugins/{{id}}/tsconfig.json
  cli/templates/server-plugin-full/{{id}}/web/plugins/{{id}}/types/tailchat.d.ts
  cli/templates/server-plugin-web/{{id}}/web/plugins/{{id}}/manifest.json
  cli/templates/server-plugin-web/{{id}}/web/plugins/{{id}}/package.json
  cli/templates/server-plugin-web/{{id}}/web/plugins/{{id}}/src/index.tsx
  cli/templates/server-plugin-web/{{id}}/web/plugins/{{id}}/tsconfig.json
  cli/templates/server-plugin-web/{{id}}/web/plugins/{{id}}/types/tailchat.d.ts
  client/web/scripts/generate-plugin-declaration.typescript.ts
  server/plugins/com.msgbyte.topic/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: topic 基本界面
  client/web/package.json
  client/web/src/components/modals/GroupPanel/useGroupPanelFields.tsx
  client/web/tailchat.d.ts
  pnpm-lock.yaml
  server/plugins/com.msgbyte.topic/package.json
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/package.json
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/components/TopicCard.less
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/components/TopicCard.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/group/GroupTopicPanelRender.less
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/group/GroupTopicPanelRender.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/index.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/translate.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 插件增加更多的上下文获取
  client/web/scripts/generate-plugin-declaration.typescript.ts
  client/web/src/components/Panel/group/Wrapper.tsx
  client/web/src/context/GroupIdContext.tsx
  client/web/src/context/GroupPanelContext.tsx
  client/web/src/plugin/common/context.ts
  client/web/src/plugin/common/index.ts
  client/web/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: topic获取所有列表网络请求
  cli/src/commands/declaration.ts
  client/web/src/components/Panel/group/Wrapper.tsx
  client/web/src/plugin/component/index.tsx
  client/web/tailchat.d.ts
  server/plugins/com.msgbyte.topic/models/topic.ts
  server/plugins/com.msgbyte.topic/services/topic.service.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/group/GroupTopicPanelRender.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/request.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update deployment
  website/docs/meeting/deployment.md
Due: none

chore: 删除部分无用配置
  client/Dockerfile
  client/docker-compose.yml
  pnpm-lock.yaml
  server/Dockerfile
  server/docker-compose.env
  server/docker-compose.yml
Due: none

docs: update HomePageFeature
  website/src/components/HomepageFeatures.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: cli增加前端插件模板
  cli/templates/client-plugin/{{id}}/manifest.json
  cli/templates/client-plugin/{{id}}/package.json
  cli/templates/client-plugin/{{id}}/src/index.tsx
  cli/templates/client-plugin/{{id}}/tsconfig.json
  cli/templates/client-plugin/{{id}}/types/tailchat.d.ts
  cli/templates/plopfile.js
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加 file.pizza 和 files.fm 用于传输文件
  client/web/plugins/com.msgbyte.filepizza/manifest.json
  client/web/plugins/com.msgbyte.filepizza/package.json
  client/web/plugins/com.msgbyte.filepizza/src/index.tsx
  client/web/plugins/com.msgbyte.filepizza/tsconfig.json
  client/web/plugins/com.msgbyte.filepizza/types/tailchat.d.ts
  client/web/plugins/com.msgbyte.filesfm/manifest.json
  client/web/plugins/com.msgbyte.filesfm/package.json
  client/web/plugins/com.msgbyte.filesfm/src/index.tsx
  client/web/plugins/com.msgbyte.filesfm/tsconfig.json
  client/web/plugins/com.msgbyte.filesfm/types/tailchat.d.ts
  client/web/registry.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix globby match problem in windows
  client/web/.ministarrc.js
  client/web/package.json
  client/web/plugins/com.msgbyte.snapdrop/manifest.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write --config ./.prettierrc.json

style: 部分插件增加icon
  client/web/plugins/com.msgbyte.filepizza/assets/icon.png
  client/web/plugins/com.msgbyte.filepizza/manifest.json
  client/web/plugins/com.msgbyte.filesfm/assets/icon.png
  client/web/plugins/com.msgbyte.filesfm/manifest.json
  client/web/plugins/com.msgbyte.snapdrop/assets/icon.png
  client/web/plugins/com.msgbyte.snapdrop/manifest.json
  client/web/registry.json
Due: none

feat: 话题插件创建按钮
  client/web/src/components/IconBtn.tsx
  client/web/tailchat.d.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/group/GroupTopicPanelRender.less
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/group/GroupTopicPanelRender.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复邮件菜单高亮问题(key重复)
  client/web/src/routes/Main/Content/Group/SidebarItem.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: tailchat-design增加富文本编辑器
  client/packages/design/components/AutoFolder/index.tsx
  client/packages/design/components/RichEditor/bbcode.ts
  client/packages/design/components/RichEditor/editor.css
  client/packages/design/components/RichEditor/editor.tsx
  client/packages/design/components/RichEditor/extensions/index.ts
  client/packages/design/components/RichEditor/index.stories.tsx
  client/packages/design/components/RichEditor/index.tsx
  client/packages/design/components/RichEditor/toolbar.tsx
  client/packages/design/package.json
  client/tsconfig.json
  pnpm-lock.yaml
  server/tsconfig.json
  tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade dependency
  client/packages/design/package.json
  client/web/package.json
  pnpm-lock.yaml
Due: none

feat: 开放删除身份组功能
  client/web/src/components/modals/GroupDetail/Role/tabs/summary.tsx
  server/tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: update cli template
  cli/templates/client-plugin/{{id}}/src/index.tsx
  cli/templates/server-plugin-web/{{id}}/web/plugins/{{id}}/src/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加群组消息通知免打扰功能
  client/shared/event/index.ts
  client/shared/hooks/useWatch.ts
  client/shared/index.tsx
  client/web/package.json
  client/web/plugins/com.msgbyte.intro/src/tour.ts
  client/web/plugins/com.msgbyte.notify/package.json
  client/web/plugins/com.msgbyte.notify/src/index.ts
  client/web/plugins/com.msgbyte.notify/src/index.tsx
  client/web/plugins/com.msgbyte.notify/src/notify.ts
  client/web/plugins/com.msgbyte.notify/src/silent.ts
  client/web/src/components/GroupPanelItem.tsx
  client/web/src/plugin/common/reg.ts
  client/web/src/routes/Main/Content/Group/SidebarItem.tsx
  client/web/src/routes/Main/Content/Group/TextPanelItem.tsx
  client/web/src/routes/Main/Content/Group/utils.ts
  client/web/src/routes/Main/Content/Group/utils.tsx
  client/web/src/styles/antd/dark.less
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: fix ci problem
  server/packages/sdk/src/db/typegoose.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 调整dockerfile打包脚本
  Dockerfile
  client/web/src/components/ChatBox/ChatMessageList/VirtualizedList.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update README
  README.md
Due: none

fix: 修复第一次获取list会异常的问题
  server/plugins/com.msgbyte.topic/services/topic.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: remove local fe config
  client/web/assets/config.json
  client/web/build/webpack.config.ts
  client/web/scripts/sync-config-from-env.js
  client/web/src/init.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 插件增加styled作为css解决方案
  cli/templates/client-plugin/{{id}}/package.json
  cli/templates/server-plugin-full/{{id}}/.ministarrc.js
  cli/templates/server-plugin-full/{{id}}/web/plugins/{{id}}/package.json
  cli/templates/server-plugin-web/{{id}}/.ministarrc.js
  cli/templates/server-plugin-web/{{id}}/web/plugins/{{id}}/package.json
  client/web/package.json
  client/web/src/plugin/component/index.tsx
  client/web/src/plugin/loader.ts
  client/web/tailchat.d.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix
