Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

fix: 修复topic列表过长会导致新增按钮位置错误的问题
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/group/GroupTopicPanelRender.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化topic在多回复时的预览体验
  pnpm-lock.yaml
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/package.json
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/components/TopicCard.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/components/TopicComments.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加topic插件的收件箱通知项
  client/web/src/components/JumpToButton.tsx
  client/web/src/components/PillTabs.less
  client/web/src/plugin/common/reg.ts
  client/web/src/plugin/component/index.tsx
  client/web/src/routes/Main/Content/Inbox/Content/Message.tsx
  client/web/src/routes/Main/Content/Inbox/Content/index.tsx
  client/web/src/routes/Main/Content/Inbox/Sidebar.tsx
  client/web/tailchat.d.ts
  server/models/chat/inbox.ts
  server/plugins/com.msgbyte.topic/services/topic.service.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/inbox/TopicInboxItem.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/index.tsx
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/translate.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

docs: add overview architecture image
  website/static/img/architecture/overview.excalidraw.svg
Due: none

feat: add tailchat-client-sdk package
  client/packages/tailchat-client-sdk/.gitignore
  client/packages/tailchat-client-sdk/package.json
  client/packages/tailchat-client-sdk/src/index.ts
  client/packages/tailchat-client-sdk/src/plugins/simplenotify.ts
  client/packages/tailchat-client-sdk/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: move origin app to app-old
  client/app-old/.gitignore
  client/app-old/.npmrc
  client/app-old/App.tsx
  client/app-old/app.json
  client/app-old/assets/adaptive-icon.png
  client/app-old/assets/favicon.png
  client/app-old/assets/icon.png
  client/app-old/assets/splash.png
  client/app-old/babel.config.js
  client/app-old/components/AppMain.tsx
  client/app-old/package.json
  client/app-old/tsconfig.json
  client/app-old/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(rn): 增加notifee用于本地通知
  client/mobile/ios/Podfile.lock
  client/mobile/package.json
  client/mobile/src/AppMain.tsx
  client/mobile/src/lib/notifications/index.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加react-native-ui-lib，增加添加服务器功能
  client/mobile/android/app/proguard-rules.pro
  client/mobile/babel.config.js
  client/mobile/ios/Podfile.lock
  client/mobile/package.json
  client/mobile/src/Entry.tsx
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: init plugin and inject script
  client/mobile/package.json
  client/mobile/plugins/com.msgbyte.env.rn/manifest.json
  client/mobile/plugins/com.msgbyte.env.rn/package.json
  client/mobile/plugins/com.msgbyte.env.rn/src/index.tsx
  client/mobile/plugins/com.msgbyte.env.rn/tsconfig.json
  client/mobile/plugins/com.msgbyte.env.rn/types/tailchat.d.ts
  client/mobile/src/AppMain.tsx
  client/mobile/src/lib/inject/index.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(rn): 增加插件逻辑注入
  client/mobile/plugins/com.msgbyte.env.rn/src/index.tsx
  client/mobile/src/App.tsx
  client/mobile/src/AppMain.tsx
  client/mobile/src/lib/inject/index.ts
  client/mobile/src/lib/inject/message-handler.ts
  client/mobile/src/store/ui.ts
  client/web/plugins/com.msgbyte.env.rn/manifest.json
  client/web/plugins/com.msgbyte.env.rn/package.json
  client/web/plugins/com.msgbyte.env.rn/src/index.tsx
  client/web/plugins/com.msgbyte.env.rn/tsconfig.json
  client/web/plugins/com.msgbyte.env.rn/types/tailchat.d.ts
  client/web/src/index.tsx
  client/web/src/init.tsx
  client/web/src/plugin/manager.ts
  client/web/src/utils/event-helper.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(rn): 增加服务列表持久化
  client/mobile/ios/Podfile.lock
  client/mobile/package.json
  client/mobile/src/lib/utils/storage.ts
  client/mobile/src/store/server.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(rn): 添加服务器时增加基本信息的获取
  client/mobile/package.json
  client/mobile/src/Entry.tsx
  client/mobile/src/components/ServerCard.tsx
  client/mobile/src/lib/utils/index.ts
  client/mobile/src/store/server.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加 react-native-webview 以显示主要内容
  client/mobile/.npmrc
  client/mobile/.prettierrc.js
  client/mobile/App.tsx
  client/mobile/__tests__/App-test.tsx
  client/mobile/index.js
  client/mobile/ios/Podfile.lock
  client/mobile/package.json
  client/mobile/src/App.tsx
  client/mobile/src/AppMain.tsx
  client/mobile/src/theme.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add codemagic config for build
  client/mobile/src/lib/notifications/index.ts
  codemagic.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(rn): 增加服务器选择入口
  client/mobile/package.json
  client/mobile/src/App.tsx
  client/mobile/src/AppMain.tsx
  client/mobile/src/Entry.tsx
  client/mobile/src/components/ServerCard.tsx
  client/mobile/src/store/server.ts
  client/mobile/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(rn): 移动端增加消息通知显示
  client/mobile/src/lib/inject/message-handler.ts
  client/mobile/src/lib/notifications/index.ts
  client/web/plugins/com.msgbyte.env.rn/src/index.tsx
  client/web/plugins/com.msgbyte.env.rn/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加插件安装方法到window对象
  client/web/src/plugin/manager.ts
  client/web/src/utils/global-helper.ts
  client/web/types/global.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add action for build rn apk
  .github/workflows/rn-build-apk.yml
Due: none

refactor: 修改app图标
  client/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  client/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  client/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  client/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  client/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  client/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  client/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  client/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  client/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  client/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

chore(rn): 增加构建完毕后消息通知到tailchat
  client/mobile/package.json
  client/mobile/scripts/notify-links.js
  client/mobile/yarn.lock
  codemagic.yaml
Due: prettier --write --config ./.prettierrc.json

chore(rn): 调整codemagic的路径以及推送增加对错误的处理
  client/mobile/package.json
  client/mobile/scripts/notify-links.js
  client/mobile/yarn.lock
  codemagic.yaml
Due: prettier --write --config ./.prettierrc.json

feat(rn): 增加删除服务器功能
  client/mobile/src/Entry.tsx
  client/mobile/src/components/ServerCard.tsx
  client/mobile/src/store/server.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore(rn): 修改安卓包名
  client/mobile/android/app/build.gradle
  client/mobile/android/app/src/debug/java/com/tailchat/ReactNativeFlipper.java
  client/mobile/android/app/src/main/java/com/tailchat/MainActivity.java
  client/mobile/android/app/src/main/java/com/tailchat/MainApplication.java
  client/mobile/android/app/src/release/java/com/tailchat/ReactNativeFlipper.java
Due: none

chore(rn): codemagic增加environment group
  codemagic.yaml
Due: none

chore(rn): 调整推送脚本
  client/mobile/scripts/notify-links.js
Due: prettier --write --config ./.prettierrc.json
