Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

chore: update repo config
  .dockerignore
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .npmrc
  .release-it.json
  Dockerfile
  commitlint.config.js
  docker-compose.yml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write --config ./.prettierrc.json

feat: 增加开放平台oauth demo app
  apps/oauth-demo/app.html
  apps/oauth-demo/index.ts
  apps/oauth-demo/package.json
  apps/oauth-demo/tsconfig.json
  pnpm-lock.yaml
  server/packages/sdk/package.json
  server/packages/sdk/src/index.ts
  server/packages/sdk/src/openapi/index.ts
  server/packages/sdk/src/openapi/oauth.ts
  server/packages/sdk/tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: translate some docs to english
  website/docs/advanced-usage/_category_.json
  website/docs/advanced-usage/github-integration.md
  website/docs/advanced-usage/richtext.md
  website/docs/architecture.md
  website/docs/devops/_category_.json
  website/docs/devops/mongodb.md
  website/docs/intro.md
  website/docs/why.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/github-integration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/static/img/github-app/github-integration.excalidraw.png
  website/static/img/github-app/github-new-app.png
Due: none

style: update some style detail for sidebar view
  client/web/src/components/SidebarView.tsx
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/options.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/github-integration.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: translate cli into english
  apps/cli/package.json
  apps/cli/src/app/App.tsx
  apps/cli/src/commands/app.ts
  apps/cli/src/commands/bench.ts
  apps/cli/src/commands/connect.ts
  apps/cli/src/commands/create.ts
  apps/cli/src/commands/declaration.ts
  apps/cli/src/commands/docker/doctor.ts
  apps/cli/src/commands/docker/index.ts
  apps/cli/src/commands/docker/init.ts
  apps/cli/src/commands/docker/update.ts
  apps/cli/src/commands/usage.ts
  apps/cli/src/utils.ts
  website/docs/cli/_category_.json
  website/docs/cli/tailchat-cli.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: translate more docs for i18n
  website/docs/cli/_category_.json
  website/docs/meeting/_category_.json
  website/docs/meeting/agora.md
  website/docs/meeting/deployment.md
  website/docs/meeting/design.md
  website/docs/meeting/images/1.png
  website/docs/meeting/images/2.png
  website/docs/meeting/images/3.png
  website/docs/meeting/images/4.png
  website/docs/meeting/images/5.png
  website/docs/meeting/images/6.png
  website/docs/meeting/images/7.png
  website/docs/meeting/intro.md
  website/docs/meeting/plugin.md
  website/docs/plugins/_category_.json
  website/docs/plugins/api/_category_.json
  website/docs/plugins/api/common.md
  website/docs/plugins/api/component.md
  website/docs/plugins/api/cssvar.md
  website/docs/plugins/api/role.md
  website/docs/plugins/icon.md
  website/docs/plugins/start.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
Due: none

style: translate more docs for i18n
  website/docs/architecture.md
  website/docs/contribution/_category_.json
  website/docs/contribution/community.md
  website/docs/contribution/dev/_category_.json
  website/docs/contribution/dev/role.md
  website/docs/contribution/guide.md
  website/docs/nightly-env.md
  website/docs/plugin-list/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/contribution/guide.md
  website/src/pages/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: translate deployment docs for i18n
  website/docs/deployment/_category_.json
  website/docs/deployment/admin.md
  website/docs/deployment/assets/docker-init.png
  website/docs/deployment/dev.md
  website/docs/deployment/docker-compose-old.md
  website/docs/deployment/docker-compose.mdx
  website/docs/deployment/environment.md
  website/docs/deployment/https-gateway.md
  website/docs/deployment/install-docker.md
  website/docs/deployment/quickstart.md
  website/docs/deployment/troubleshooting.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/dev.md
Due: none

refactor: add admin resource i18n support
  server/admin/app/ra/App.tsx
  server/admin/app/ra/authProvider.ts
  server/admin/app/ra/i18n.ts
  server/admin/app/ra/i18n/builtin.ts
  server/admin/app/ra/i18n/custom.ts
  server/admin/app/ra/i18n/index.ts
  server/admin/app/ra/i18n/resources.ts
  server/admin/app/ra/resources/chat.tsx
  server/admin/app/ra/resources/file.tsx
  server/admin/app/ra/resources/group.tsx
  server/admin/app/ra/resources/user.tsx
  server/admin/app/server/broker.ts
  server/admin/app/server/index.ts
  website/docs/deployment/docker-compose.mdx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: add admin full i18n support
  client/web/src/components/modals/CreateGroup.tsx
  server/admin/app/ra/components/ButtonWithConfirm.tsx
  server/admin/app/ra/dashboard/Welcome.tsx
  server/admin/app/ra/dashboard/index.tsx
  server/admin/app/ra/i18n/custom.ts
  server/admin/app/ra/layout/Menu.tsx
  server/admin/app/ra/routes/network/index.tsx
  server/admin/app/ra/routes/socketio.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add registry config for fe and add i18n support for plugin
  apps/cli/bin/cli
  apps/cli/package.json
  apps/cli/src/commands/registry/config.ts
  apps/cli/src/commands/registry/index.ts
  apps/cli/src/index.ts
  client/web/plugins/com.msgbyte.bbcode/manifest.json
  client/web/plugins/com.msgbyte.biggerfont/manifest.json
  client/web/plugins/com.msgbyte.draw/manifest.json
  client/web/plugins/com.msgbyte.env.rn/manifest.json
  client/web/plugins/com.msgbyte.filepizza/manifest.json
  client/web/plugins/com.msgbyte.filesend/manifest.json
  client/web/plugins/com.msgbyte.filesfm/manifest.json
  client/web/plugins/com.msgbyte.genshin/manifest.json
  client/web/plugins/com.msgbyte.integration/manifest.json
  client/web/plugins/com.msgbyte.intro/manifest.json
  client/web/plugins/com.msgbyte.miaolang/manifest.json
  client/web/plugins/com.msgbyte.music/manifest.json
  client/web/plugins/com.msgbyte.notify/manifest.json
  client/web/plugins/com.msgbyte.openapi/manifest.json
  client/web/plugins/com.msgbyte.posthog/manifest.json
  client/web/plugins/com.msgbyte.sentry/manifest.json
  client/web/plugins/com.msgbyte.snapdrop/manifest.json
  client/web/plugins/com.msgbyte.theme.genshin/manifest.json
  client/web/plugins/com.msgbyte.theme.miku/manifest.json
  client/web/plugins/com.msgbyte.toolwa/manifest.json
  client/web/plugins/com.msgbyte.user.location/manifest.json
  client/web/plugins/com.msgbyte.webview/manifest.json
  client/web/plugins/com.msgbyte.wenshushu/manifest.json
  client/web/plugins/com.msgbyte.wormhole/manifest.json
  client/web/registry.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add i18n support in plugin store
  apps/cli/src/commands/registry/config.ts
  client/shared/model/plugin.ts
  client/web/src/plugin/PluginStore/Item.tsx
  client/web/src/plugin/builtin.ts
  client/web/src/plugin/utils.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: add backend plugin manifest support
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/manifest.json
  server/plugins/com.msgbyte.github/web/plugins/com.msgbyte.github/manifest.json
  server/plugins/com.msgbyte.linkmeta/web/plugins/com.msgbyte.linkmeta/manifest.json
  server/plugins/com.msgbyte.meeting/web/plugins/com.msgbyte.meeting/manifest.json
  server/plugins/com.msgbyte.simplenotify/web/plugins/com.msgbyte.simplenotify/manifest.json
  server/plugins/com.msgbyte.tasks/web/plugins/com.msgbyte.tasks/manifest.json
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/manifest.json
Due: none

refactor: update server github plugin language
  server/plugins/com.msgbyte.github/services/subscribe.service.ts
  website/docs/cli/tailchat-cli.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: remove tailchat-cli in root dependency
  package.json
  pnpm-lock.yaml
Due: none

fix: fix incorrect bbcode url
  client/web/plugins/com.msgbyte.bbcode/manifest.json
  client/web/src/plugin/builtin.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add message list popover for DM and group
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/popover/UserPopover/GroupUserPopover.tsx
  client/web/src/components/popover/UserPopover/PersonalUserPopover.tsx
  client/web/src/components/popover/UserPopover/index.tsx
  client/web/src/components/popover/UserPopover/usePluginUserExtraInfo.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update deploy nightly notify
  .github/workflows/vercel-nightly.yml
Due: none

fix: fix bug if cannt get file then will throw error
  client/web/src/components/AvatarPicker.tsx
  client/web/src/components/ChatBox/ChatInputBox/ChatDropArea.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update some screenshot image
  website/static/img/intro/admin-network.png
  website/static/img/intro/hello.png
  website/static/img/intro/plugins.png
  website/static/img/intro/theme.png
Due: none

chore: upgrade sentry plugin dependencies version
  client/web/plugins/com.msgbyte.sentry/package.json
  pnpm-lock.yaml
Due: none

docs: upgrade docs version and add styled-component
  pnpm-lock.yaml
  website/package.json
Due: none

chore: upgrade dependencies version
  pnpm-lock.yaml
  website/package.json
Due: none

docs: add better website header style
  website/i18n/zh-Hans/code.json
  website/src/components/HomepageHeader.tsx
  website/src/pages/index.tsx
  website/static/img/hero-dark.png
  website/static/img/hero-light.png
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update intro screenshot
  website/docs/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/static/img/intro/github-bot.png
Due: none

chore(website): fix build problem for ColorModeProvider
  pnpm-lock.yaml
  website/package.json
  website/src/pages/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add navigator language detector
  client/shared/i18n/index.ts
  client/shared/i18n/language.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update pnpm-lock file
  pnpm-lock.yaml
Due: none

chore: fix dependencies of react-helmet problem
  pnpm-lock.yaml
Due: none

chore: release cli@1.5.6
  apps/cli/package.json
Due: none

style: update manifest icon
  client/web/plugins/com.msgbyte.genshin/assets/icon.jpg
  client/web/plugins/com.msgbyte.genshin/manifest.json
  client/web/registry.json
Due: none

docs: add connect app draw
  website/static/img/intro/connect-apps.excalidraw.png
Due: none

fix: fix antd popover dark theme color fit
  client/web/src/styles/antd/dark.less
Due: none

docs: add roles screenshot into intro doc
  website/docs/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/static/img/intro/roles.png
Due: none

chore: upgrade dependencies version and unified antd version
  client/packages/design/package.json
  client/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

test: update jest snapshot
  client/web/src/components/__tests__/__snapshots__/PillTabs.spec.tsx.snap
Due: none

chore: update dependencies version to avoid duplicate pack
  client/packages/design/package.json
  client/web/package.json
  pnpm-lock.yaml
Due: none

chore: add css-minimizer-webpack-plugin to minimize css size
  client/web/build/webpack.config.ts
  client/web/package.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf(website): perf homepage without styled-component
  pnpm-lock.yaml
  website/docusaurus.config.js
  website/package.json
  website/src/components/HomepageHeader.less
  website/src/components/HomepageHeader.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix
