Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add message.searchMessage api
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/services/core/chat/message.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add deno-static entry
  .github/workflows/deploy-deno.yml
  client/web/scripts/deno-static-entry.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): allow to delete private message
  server/services/core/chat/message.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add getDisplayMedia support for desktop #158
  client/desktop/src/main/lib/capturer-source-picker.html
  client/desktop/src/main/main.ts
  client/desktop/src/main/preload.ts
  client/desktop/src/main/util.ts
  client/desktop/src/renderer/preload.d.ts
  client/web/plugins/com.msgbyte.env.electron/src/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: buildRegFn add reset func
  client/shared/manager/buildReg.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add electron native webview render support #152
  client/desktop/package.json
  client/desktop/src/main/lib/webview-manager.ts
  client/desktop/src/main/main.ts
  client/web/plugins/com.msgbyte.env.electron/src/ElectronWebview.tsx
  client/web/plugins/com.msgbyte.env.electron/src/index.tsx
  client/web/plugins/com.msgbyte.env.electron/src/overwrite.css
  client/web/plugins/com.msgbyte.env.electron/src/translate.ts
  client/web/src/components/Webview.tsx
  client/web/src/plugin/common/index.ts
  client/web/src/plugin/common/reg.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add hide tip
  client/web/plugins/com.msgbyte.env.electron/src/ElectronWebview.tsx
  client/web/plugins/com.msgbyte.env.electron/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix problem which ai assistant will be transparent in popover in light mode
  client/web/src/components/ChatBox/ChatInputBox/Emotion.less
Due: none

chore: add netlify redirect
  client/web/assets/_redirects
  client/web/build/webpack.config.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.9.2
  CHANGELOG.md
  package.json
Due: none

chore: upgrade desktop version
  client/desktop/release/app/package.json
Due: none

chore: desktop 0.0.7 and fix bundle problem
  client/desktop/.erb/configs/webpack.config.base.ts
  client/desktop/package.json
  client/desktop/release/app/package.json
  client/desktop/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(desktop): v0.0.8 fix ipc error problem with import data from other files
  client/desktop/release/app/package.json
  client/desktop/src/main/main.ts
  client/desktop/src/main/preload.ts
  client/desktop/src/main/util.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 0.0.9 fix cannot open capturerSourcePicker after packed
  client/desktop/.erb/configs/webpack.config.base.ts
  client/desktop/package.json
  client/desktop/release/app/package.json
  client/desktop/src/main/main.ts
  client/desktop/yarn.lock
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: release note v1.9.2 and update client download links
  website/blog/2023-10-16-v1.9.2.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-10-16-v1.9.2.md
  website/static/downloads/client.json
  website/static/img/blog/release-note/v1.9.2/1.png
  website/static/img/blog/release-note/v1.9.2/2.png
  website/static/img/blog/release-note/v1.9.2/3.png
  website/static/img/blog/release-note/v1.9.2/4.png
Due: none

perf: reduce image size
  website/static/img/blog/release-note/v1.9.2/4.png
Due: none

docs: update external storage document
  website/docs/advanced-usage/external-storage.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/external-storage.md
Due: none

chore: add tianji analytics script
  client/web/build/inject-analytics.js
  website/docusaurus.config.js
Due: prettier --write --config ./.prettierrc.json

fix: fix iam plugin not fit in light theme in login view
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/routes/Entry/LoginView.tsx
  server/plugins/com.msgbyte.iam/web/plugins/com.msgbyte.iam/src/IAMAction.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add http cache for static and public files
  server/services/core/gateway.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add laf deploy action
  .github/workflows/deploy-laf.yml
Due: none

chore: update action name
  .github/workflows/deploy-laf.yml
Due: none

chore: update deploy laf action config
  .github/workflows/deploy-laf.yml
Due: none

fix: update inject script exec order
  .github/workflows/deploy-laf.yml
Due: none

perf: add defer for tianji script
  client/web/build/inject-analytics.js
Due: prettier --write --config ./.prettierrc.json

docs: fix doc error for smtp example
  website/docs/deployment/smtp.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/smtp.md
Due: none

docs: add tianji event tracker
  website/src/components/HomepageHeader.tsx
  website/src/components/JoinCommunity.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add download event track
  website/src/components/HomepageHeader.tsx
  website/src/pages/downloads.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add telemetry to aware of the presence of other deployment instances
  client/shared/index.tsx
  client/shared/model/config.ts
  client/shared/utils/consts.ts
  client/shared/utils/environment.ts
  client/web/src/init.tsx
  server/packages/sdk/src/services/lib/settings.ts
  server/services/core/config.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add docs for telemetry
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: none

feat: add text panel message search right panel
  client/shared/hooks/useAsyncRequest.ts
  client/shared/model/message.ts
  client/shared/utils/date-helper.ts
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
  client/web/src/components/Panel/common/MessageSearch.tsx
  client/web/src/components/Panel/group/TextPanel.tsx
  client/web/src/components/Panel/personal/ConversePanel.tsx
  server/services/core/chat/message.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: add translation for search message
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

style: add dark theme adaptar
  client/web/src/styles/antd/dark.less
Due: none

refactor: change position of search message button
  client/web/src/components/Panel/group/TextPanel.tsx
  client/web/src/components/Panel/personal/ConversePanel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add env REQUEST_TIMEOUT to custom requestTimeout of actions
  server/packages/sdk/src/runner/moleculer.config.ts
  server/packages/sdk/src/services/lib/settings.ts
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: add \n in ai-assistant plugin call summary message
  client/web/plugins/com.msgbyte.ai-assistant/src/popover.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add more tip in ai-assistant plugin
  client/web/plugins/com.msgbyte.ai-assistant/src/popover.tsx
  client/web/plugins/com.msgbyte.ai-assistant/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.9.3
  CHANGELOG.md
  package.json
Due: none

chore: fix docker image node version
  Dockerfile
Due: none

chore: release v1.9.4
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  prettier --write --config ./.prettierrc.json: ((any of: src/*.{json,less}) or (any of: **/*.js)) or (any of: **/*.{ts,tsx})
  eslint --fix: any of: **/*.{ts,tsx}
