Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

chore: add repo ci and report
  .github/workflows/ci.yaml
  client/web/build/webpack.config.ts
  client/web/package.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 修复ci脚本问题
  .github/workflows/ci.yaml
  client/web/build/webpack.config.ts
  client/web/package.json
  client/web/plugins/com.msgbyte.bbcode/src/tags/PlainText.tsx
  client/web/test/setup.js
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade jest version and fix ci problem
  client/web/build/webpack.config.ts
  client/web/package.json
  client/web/test/fileTransformer.js
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 临时注释掉 ci test
  .github/workflows/ci.yaml
  client/shared/api/request.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 统一jest版本为27, 修复单元测试问题
  .github/workflows/ci.yaml
  apps/github-app/package.json
  client/desktop/package.json
  client/web/package.json
  client/web/test/fileTransformer.js
  pnpm-lock.yaml
  server/package.json
Due: prettier --write --config ./.prettierrc.json

perf: 减少首屏图片体积，从600+缩减到500+
  client/web/assets/images/bg.jpg
  client/web/assets/images/bg.webp
  client/web/src/styles/global.less
Due: none

chore: add webp,webm support in webpack
  client/web/build/webpack.config.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: rm命令增加window兼容
  apps/cli/package.json
  pnpm-lock.yaml
Due: none

docs: update docker build document
  website/docs/deployment/docker-compose.md
Due: none

docs: update quickstart
  website/docs/architecture.md
  website/docs/deployment/_category_.json
  website/docs/deployment/docker-compose.md
  website/docs/deployment/environment.md
  website/docs/deployment/quickstart.md
Due: none

feat(cli): 增加docker相关操作集成
  apps/cli/package.json
  apps/cli/src/commands/docker.ts
  apps/cli/src/index.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add action for github add vercel deploy
  .github/workflows/deploy-github-app.yml
  apps/github-app/api/github/webhooks/index.js
  apps/github-app/package.json
  apps/github-app/public/favicon.ico
Due: prettier --write --config ./.prettierrc.json

refactor: 将widget移动到apps中
  apps/widget/.gitignore
  apps/widget/.yarnrc
  apps/widget/demo/.gitignore
  apps/widget/demo/index.html
  apps/widget/demo/package.json
  apps/widget/demo/yarn.lock
  apps/widget/package.json
  apps/widget/src/index.ts
  apps/widget/tsconfig.json
  client/widget/yarn.lock
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add parser for parse entry file export declarations
  client/packages/plugin-declaration-generator/package.json
  client/packages/plugin-declaration-generator/src/parser.ts
  client/packages/plugin-declaration-generator/test/demo/bar.ts
  client/packages/plugin-declaration-generator/test/demo/foo.ts
  client/packages/plugin-declaration-generator/test/demo/index.ts
  client/packages/plugin-declaration-generator/test/parser.ts
  client/packages/plugin-declaration-generator/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 升级react-virtuoso到最新版
  client/web/package.json
  pnpm-lock.yaml
Due: none

feat: 为通用消息列表增加消息头
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/ChatBox/ChatMessageList/ChatMessageHeader.tsx
  client/web/src/components/ChatBox/ChatMessageList/NormalList.tsx
  client/web/src/components/ChatBox/ChatMessageList/types.ts
  client/web/src/components/ChatBox/index.tsx
  client/web/src/components/Panel/group/TextPanel.tsx
  client/web/src/components/Panel/personal/ConversePanel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加自定义host，用于在不同的实例中共享同一个tailchat github app实例
  apps/github-app/src/app.ts
  apps/github-app/src/client.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: update somthing no important
  client/shared/redux/hooks/useConverseAck.ts
  client/web/src/components/ChatBox/useMessageAck.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add config.service
  client/shared/index.tsx
  client/shared/model/config.ts
  client/web/src/init.tsx
  server/services/core/config.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update deployment doc and add memory usage reference
  website/docs/deployment/docker-compose.md
  website/static/img/misc/memory-usage.png
Due: none

chore: 升级mini-star到2.0.2
  client/web/package.json
  client/web/src/plugin/manager.ts
  client/web/src/routes/Main/Content/Personal/Sidebar.tsx
  client/web/src/routes/Main/Content/Personal/index.tsx
  pnpm-lock.yaml
  website/docs/deployment/docker-compose.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: 禁用mac上的橡皮筋弹动模式, 防止出现背景白底
  client/web/src/styles/global.less
Due: none

fix: 修复手势操作滑动在迭代中功能丢失的问题
  client/web/src/routes/Main/Content/PageContent.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade react-use-gesture to @use-gesture/react
  client/web/package.json
  client/web/src/routes/Main/Content/PageContent.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: move all Icon import source to tailchat-design
  client/web/src/components/AvatarPicker.tsx
  client/web/src/components/AvatarUploader.tsx
  client/web/src/components/ChatBox/ChatInputBox/Addon.tsx
  client/web/src/components/ChatBox/ChatMessageList/useChatMessageItemAction.tsx
  client/web/src/components/ChatBox/ChatMessageList/useRenderPluginMessageInterpreter.tsx
  client/web/src/components/ChatBox/ChatReply.tsx
  client/web/src/components/GroupSection.tsx
  client/web/src/components/Icon.tsx
  client/web/src/components/IsDeveloping.tsx
  client/web/src/components/Modal.tsx
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/Spinner.tsx
  client/web/src/components/TipIcon.tsx
  client/web/src/components/modals/CreateGroupInvite/index.tsx
  client/web/src/components/modals/SettingsView/About.tsx
  client/web/src/plugin/component/index.tsx
  client/web/src/routes/Entry/ForgetPasswordView.tsx
  client/web/src/routes/Entry/GuestView.tsx
  client/web/src/routes/Entry/LoginView.tsx
  client/web/src/routes/Entry/RegisterView.tsx
  client/web/src/routes/Main/Navbar/MobileMenuBtn.tsx
  client/web/src/routes/Main/Navbar/SettingBtn.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade mini-star@2.0.3
  client/web/package.json
  pnpm-lock.yaml
Due: none

chore: upgrade mini-star@2.0.4
  client/web/package.json
  pnpm-lock.yaml
Due: none

chore: upgrade mini-star@2.0.5
  .gitignore
  client/web/package.json
  pnpm-lock.yaml
Due: none

feat: 增加群组所有消息已读
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/index.tsx
  client/shared/redux/hooks/useGroupAck.ts
  client/shared/utils/panel-helper.ts
  client/web/src/routes/Main/Navbar/GroupNav.tsx
  client/web/src/routes/Main/Navbar/NavItem.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: remove tailchat-shared/* imports
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/QuickSwitcher/useQuickSwitcherAllAction.ts
  client/web/src/components/UserSelector.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 创建话题时记录github 的相关 meta信息
  apps/github-app/.env.example
  apps/github-app/package.json
  apps/github-app/src/app.ts
  apps/github-app/src/index.ts
  pnpm-lock.yaml
  server/plugins/com.msgbyte.topic/models/topic.ts
  server/plugins/com.msgbyte.topic/services/topic.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加afterHooks处理
  server/packages/sdk/src/const.ts
  server/packages/sdk/src/services/base.ts
  server/packages/sdk/src/structs/events.ts
  server/services/core/config.service.ts
  server/services/core/gateway.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 优化github app issue创建与回复逻辑
  apps/github-app/src/app.ts
  apps/github-app/src/client.ts
  apps/github-app/src/index.ts
  server/plugins/com.msgbyte.topic/web/plugins/com.msgbyte.topic/src/components/TopicComments.tsx
  server/services/openapi/bot.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: bbcode解释器增加boldtag
  client/web/plugins/com.msgbyte.bbcode/src/tags/BoldTag.tsx
  client/web/plugins/com.msgbyte.bbcode/src/tags/__all__.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加更多的bbcode tag标签
  client/web/plugins/com.msgbyte.bbcode/src/tags/DeleteTag.tsx
  client/web/plugins/com.msgbyte.bbcode/src/tags/ItalicTag.tsx
  client/web/plugins/com.msgbyte.bbcode/src/tags/UnderlinedTag.tsx
  client/web/plugins/com.msgbyte.bbcode/src/tags/__all__.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: fix ci problem
  client/web/plugins/com.msgbyte.bbcode/src/tags/__all__.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化插件类型生成代码
  client/packages/plugin-declaration-generator/src/index.ts
  client/packages/plugin-declaration-generator/src/parser.ts
  client/web/scripts/generate-plugin-declaration.tsmorph.ts
  client/web/scripts/test-export.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加posthog插件用于进行基本的信息统计
  client/web/package.json
  client/web/plugins/com.msgbyte.posthog/manifest.json
  client/web/plugins/com.msgbyte.posthog/package.json
  client/web/plugins/com.msgbyte.posthog/src/index.tsx
  client/web/plugins/com.msgbyte.posthog/tsconfig.json
  client/web/plugins/com.msgbyte.posthog/types/tailchat.d.ts
  client/web/src/plugin/builtin.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复变更面板类型不会更新的bug
  client/shared/model/group.ts
  client/web/plugins/com.msgbyte.posthog/manifest.json
  client/web/src/components/modals/GroupPanel/ModifyGroupPanel.tsx
  server/services/core/group/group.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add sentry integrations
  client/web/plugins/com.msgbyte.sentry/manifest.json
  client/web/plugins/com.msgbyte.sentry/package.json
  client/web/plugins/com.msgbyte.sentry/src/index.tsx
  client/web/plugins/com.msgbyte.sentry/tsconfig.json
  client/web/plugins/com.msgbyte.sentry/types/tailchat.d.ts
  client/web/src/plugin/builtin.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix
