Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

feat: 增加用户管理权限点
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/utils/role-helper.ts
  client/web/src/components/Panel/group/MembersPanel.tsx
  server/packages/sdk/src/services/lib/role.ts
  server/services/core/group/group.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: 身份组与权限文档
  website/docs/contribution/dev/_category_.json
  website/docs/contribution/dev/role.md
Due: none

refactor: 内敛updateGroupMemberField操作的权限校验
  server/models/group/group.ts
  server/services/core/group/group.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add sdk dev in server
  server/package.json
Due: none

feat: 增加删除群组角色的接口
  server/services/core/group/group.service.ts
  server/test/integration/group/group.spec.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加移出群组的前端操作
  client/shared/model/group.ts
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/routes/Main/Content/Group/index.tsx
  server/services/core/group/group.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
Due: none

test: 修复CI报错
  client/web/jest.config.js
  client/web/src/components/__tests__/__snapshots__/Markdown.spec.tsx.snap
  client/web/tsconfig.test.json
Due: prettier --write --config ./.prettierrc.json

fix: 修复推送在mac os 13 以下 safari 不支持registration.showNotification的问题
  client/web/plugins/com.msgbyte.notify/src/notify.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(server): 修复不恰当时机的logger调用
  server/packages/sdk/src/services/base.ts
  server/plugins/com.msgbyte.agora/services/agora.service.dev.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 将api网关相关代码放在sdk中做统一管理
  pnpm-lock.yaml
  server/package.json
  server/packages/sdk/package.json
  server/packages/sdk/src/index.ts
  server/packages/sdk/src/services/lib/moleculer-web/README.md
  server/packages/sdk/src/services/lib/moleculer-web/alias.ts
  server/packages/sdk/src/services/lib/moleculer-web/errors.ts
  server/packages/sdk/src/services/lib/moleculer-web/index.ts
  server/packages/sdk/src/services/lib/moleculer-web/memory-store.ts
  server/packages/sdk/src/services/lib/moleculer-web/utils.ts
  server/services/core/gateway.service.ts
  server/services/openapi/oidc/oidc.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 临时放开错误抛出
  client/shared/hooks/useAsyncRequest.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加群组配置权限，增加群组成员隐私控制选项
  client/shared/model/group.ts
  client/shared/utils/role-helper.ts
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/UserListItem.tsx
  client/web/src/components/modals/GroupDetail/Config.tsx
  client/web/src/components/modals/GroupDetail/index.tsx
  client/web/src/components/popover/GroupUserPopover.tsx
  server/models/group/group.ts
  server/packages/sdk/src/services/lib/role.ts
  server/services/core/group/group.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

fix: 修复迁移(升级)gateway api导致的静态文件服务返回错误的bug
  server/services/core/gateway.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化在用户信息没有获取到前界面的表现
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add {BACKEND} support for user info avatar
  client/shared/model/user.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 提及tag增加用户名fallback
  client/web/plugins/com.msgbyte.bbcode/src/tags/MentionTag.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化结构与导出方式
  server/packages/sdk/src/db/mongoose.ts
  server/packages/sdk/src/index.ts
  server/packages/sdk/src/structs/chat.ts
  server/services/core/user/user.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 声网插件webhhok处理与消息通知方式
  pnpm-lock.yaml
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/plugins/com.msgbyte.agora/models/agora-meeting.ts
  server/plugins/com.msgbyte.agora/services/agora.service.dev.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/package.json
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/MeetingView.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Videos.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 优化reaction用户名显示，显示前两个用户名以强化reaction信息量
  client/web/src/components/ChatBox/ChatMessageList/useMessageReactions.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 调整reaction用户名字体大小
  client/web/src/components/ChatBox/ChatMessageList/useMessageReactions.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: 增加声网插件部署文档
  website/docs/meeting/agora.md
  website/docs/meeting/images/1.png
  website/docs/meeting/images/2.png
  website/docs/meeting/images/3.png
  website/docs/meeting/images/4.png
  website/docs/meeting/images/5.png
  website/docs/meeting/images/6.png
  website/docs/meeting/images/7.png
  website/docs/meeting/intro.md
Due: none

chore: agora 设定为默认插件并在生产环境下执行
  package.json
  server/plugins/com.msgbyte.agora/services/agora.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复agora插件展开 收起的热区异常并顺便增加了分割线以优化显示
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/window.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化控制器的配色方案, 增强控制器状态辨识度
  client/web/src/components/IconBtn.tsx
  client/web/tailchat.d.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Controls.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 调整声网音视频配置文件，声网插件不需要重启
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/manifest.json
Due: none

fix: 修复挂断通话后仍然会显示正在使用摄像头/麦克风小红点的bug
  client/web/src/components/IconBtn.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Controls.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/VideoView.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/client.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/utils.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: rename admin -> admin-next, its depend tushan, but tushan not ready for production
  pnpm-workspace.yaml
  server/admin-next/.adminjs/.entry.js
  server/admin-next/README.md
  server/admin-next/package.json
  server/admin-next/src/index.ts
  server/admin-next/src/old/api.ts
  server/admin-next/src/old/dashboard.tsx
  server/admin-next/src/old/index.ts
  server/admin-next/src/old/resources.ts
  server/admin-next/src/resources/User.ts
  server/admin-next/static/images/logo.svg
  server/admin-next/tsconfig.json
  server/admin/.adminjs/.entry.js
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 声网插件增加国际化支持
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Controls.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/MeetingView.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/index.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/window.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/index.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.4.0
  CHANGELOG.md
  package.json
Due: none

docs: release 1.4.0 blog
  package.json
  website/blog/2023-01-07-v1.4.0.md
  website/blog/images/v1.4.0-agora.png
Due: none

docs: update agora document
  website/docs/meeting/agora.md
Due: none

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

feat: 增加工具蛙插件
  client/web/build/webpack.config.ts
  client/web/plugins/com.msgbyte.snapdrop/manifest.json
  client/web/plugins/com.msgbyte.toolwa/assets/icon.png
  client/web/plugins/com.msgbyte.toolwa/manifest.json
  client/web/plugins/com.msgbyte.toolwa/package.json
  client/web/plugins/com.msgbyte.toolwa/src/index.tsx
  client/web/plugins/com.msgbyte.toolwa/src/translate.ts
  client/web/plugins/com.msgbyte.toolwa/tsconfig.json
  client/web/registry.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: mini-star升级，优化对插件运行时报错的处理
  client/web/package.json
  pnpm-lock.yaml
Due: none

docs: update README and website
  README.md
  website/blog/2023-01-07-v1.4.0.md
Due: none

feat: notify增加点击输入框跳转的功能，并增加api调用页面跳转的方式
  client/web/plugins/com.msgbyte.notify/src/notify.ts
  client/web/src/App.tsx
  client/web/src/components/AppRouterApi.tsx
  client/web/src/plugin/common/index.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复内置用户信息无法获取到翻译的问题
  client/shared/model/user.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 临时降级mini-star
  client/web/package.json
  pnpm-lock.yaml
Due: none
