Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 优化开发体验，执行dev时打包所有插件
  client/web/build/webpack.config.ts
  client/web/package.json
  server/package.json
  server/scripts/installPlugin.js
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 升级一波依赖
  client/web/package.json
  pnpm-lock.yaml
Due: none

perf: 修改dropdown的overlay到menu, 这是因为会被逐渐弃用
  client/web/src/components/ChatBox/ChatInputBox/Emotion.tsx
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
  client/web/src/components/ChatBox/ChatMessageList/useChatMessageItemAction.tsx
  client/web/src/components/Emoji/Picker.less
  client/web/src/components/GroupPanelSelector.tsx
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/SectionHeader.tsx
  client/web/src/components/modals/CreateGroupInvite/CreateInviteCode.tsx
  client/web/src/routes/Main/Content/Group/GroupHeader.tsx
  client/web/src/routes/Main/Content/Group/SidebarItem.tsx
  client/web/src/routes/Main/Content/Personal/Friends/FriendList.tsx
  client/web/src/routes/Main/Navbar/GroupNav.tsx
  server/plugins/com.msgbyte.github/web/plugins/com.msgbyte.github/src/GroupSubscribePanel/AddGroupSubscribeModal.tsx
  server/plugins/com.msgbyte.simplenotify/web/plugins/com.msgbyte.simplenotify/src/GroupSubscribePanel/AddGroupSubscribeModal.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 进一步修改聊天内容项的hover状态的背景色透明度
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化逻辑，并在常用请求增加索引以加速查找
  server/models/chat/message.ts
  server/services/core/chat/message.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 优化服务启动时匹配参数，排除*.service.dev.js 开发中的服务被加载
  docker-compose.yml
Due: none

chore: 升级tailchat-plugin-declaration-generator的依赖
  client/packages/plugin-declaration-generator/package.json
  pnpm-lock.yaml
Due: none

chore: add release-it
  .release-it.json
  package.json
  pnpm-lock.yaml
Due: none

chore: release v1.3.0
  CHANGELOG.md
  package.json
Due: none

fix: 修复Markdown 引用没有样式的bug
  .release-it.json
  client/web/src/components/Markdown.less
Due: none

fix: 优化withKeepAliveOverlay的参数依赖管理，修复不强制渲染时无法取消挂载的情况
  client/web/src/components/KeepAliveOverlay/withKeepAliveOverlay.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复markdown引用样式问题
  client/web/src/components/Markdown.less
Due: none

refactor: 拆分webview缓存与非缓存
  client/web/plugins/com.msgbyte.snapdrop/src/index.tsx
  client/web/plugins/com.msgbyte.webview/src/group/GroupCustomWebPanelRender.tsx
  client/web/plugins/com.msgbyte.webview/src/group/GroupWebPanelRender.tsx
  client/web/src/components/Webview.tsx
  client/web/src/plugin/component/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.3.1
  CHANGELOG.md
  package.json
Due: none

docs: update README
  README.md
Due: none

feat: 文件传输插件增加文叔叔与filesend
  client/web/plugins/com.msgbyte.filepizza/manifest.json
  client/web/plugins/com.msgbyte.filesend/manifest.json
  client/web/plugins/com.msgbyte.filesend/package.json
  client/web/plugins/com.msgbyte.filesend/src/index.tsx
  client/web/plugins/com.msgbyte.filesend/tsconfig.json
  client/web/plugins/com.msgbyte.filesend/types/tailchat.d.ts
  client/web/plugins/com.msgbyte.filesfm/manifest.json
  client/web/plugins/com.msgbyte.filesfm/package.json
  client/web/plugins/com.msgbyte.wenshushu/assets/icon.png
  client/web/plugins/com.msgbyte.wenshushu/manifest.json
  client/web/plugins/com.msgbyte.wenshushu/package.json
  client/web/plugins/com.msgbyte.wenshushu/src/index.tsx
  client/web/plugins/com.msgbyte.wenshushu/tsconfig.json
  client/web/plugins/com.msgbyte.wenshushu/types/tailchat.d.ts
  client/web/registry.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 输入框addon增加打开动画，并移除表情面板的内边距
  client/web/src/components/ChatBox/ChatInputBox/Addon.tsx
  client/web/src/components/ChatBox/ChatInputBox/Emotion.less
  client/web/src/components/ChatBox/ChatInputBox/Emotion.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: 迁移准备弃用的属性
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
  client/web/src/components/TcPopover.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: 优化workbox在开发环境下的配置
  client/web/build/webpack.config.ts
  client/web/build/workbox.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复消息会话点击后会卡死的问题
  client/web/src/components/ChatBox/ChatMessageList/useChatMessageItemAction.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 修复类型问题
  client/shared/hooks/useWhyDidYouUpdate.ts
  client/web/src/components/ChatBox/ChatMessageList/useChatMessageItemAction.tsx
  client/web/src/routes/Main/Content/Group/GroupHeader.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 关闭pilltab动画，因为新版的antd Tabs 行为发生了改变
  client/web/src/components/PillTabs.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 修复单元测试
  client/web/build/webpack.config.ts
  client/web/src/components/__tests__/__snapshots__/NoData.spec.tsx.snap
  client/web/src/components/__tests__/__snapshots__/PillTabs.spec.tsx.snap
  client/web/src/components/modals/GroupDetail/Panel/__tests__/__snapshots__/GroupPanelTree.spec.tsx.snap
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: 增加运维命令文档
  website/docs/devops/_category_.json
  website/docs/devops/mongodb.md
Due: none

feat: sentry增加replay集成
  client/web/plugins/com.msgbyte.sentry/package.json
  client/web/plugins/com.msgbyte.sentry/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

test: update snapshot
  client/web/src/components/__tests__/__snapshots__/PillTabs.spec.tsx.snap
Due: none

chore: remove commitlint(because of its alias of @commitlint/cli)
  apps/github-app/src/utils.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 为每个action增加了一个after hook回调
  server/packages/sdk/src/services/base.ts
  server/services/core/gateway.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化fetchConverseLastMessages查询语句，防止数据量过大导致请求超时
  server/services/core/chat/message.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加安装应用按钮
  client/web/package.json
  client/web/src/hooks/usePwa.ts
  client/web/src/routes/Main/Navbar/InstallBtn.tsx
  client/web/src/routes/Main/Navbar/index.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 移动react query devtools到web
  client/shared/cache/Provider.tsx
  client/shared/package.json
  client/web/package.json
  client/web/src/routes/Main/Navbar/ReactQueryDevBtn.tsx
  client/web/src/routes/Main/Navbar/index.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: fix type error
  client/web/src/routes/Main/Navbar/ReactQueryDevBtn.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加声网插件基本功能集成
  pnpm-lock.yaml
  server/plugins/com.msgbyte.agora/.ministarrc.js
  server/plugins/com.msgbyte.agora/models/agora.ts
  server/plugins/com.msgbyte.agora/package.json
  server/plugins/com.msgbyte.agora/services/agora.service.dev.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/manifest.json
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/package.json
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Controls.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Videos.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/client.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/index.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/window.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/index.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/tsconfig.json
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/types/tailchat.d.ts
  server/plugins/com.msgbyte.meeting/web/plugins/com.msgbyte.meeting/src/helper.ts
  server/services/core/chat/ack.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 声网鉴权函数完成
  server/plugins/com.msgbyte.agora/services/agora.service.dev.ts
  server/plugins/com.msgbyte.agora/services/utils/AccessToken2.ts
  server/plugins/com.msgbyte.agora/services/utils/README.md
  server/plugins/com.msgbyte.agora/services/utils/RtcTokenBuilder2.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加wormhole插件用于文件传输
  client/web/plugins/com.msgbyte.wormhole/assets/icon.webp
  client/web/plugins/com.msgbyte.wormhole/manifest.json
  client/web/plugins/com.msgbyte.wormhole/package.json
  client/web/plugins/com.msgbyte.wormhole/src/index.tsx
  client/web/plugins/com.msgbyte.wormhole/tsconfig.json
  client/web/plugins/com.msgbyte.wormhole/types/tailchat.d.ts
  client/web/registry.json
  pnpm-lock.yaml
  server/plugins/com.msgbyte.agora/services/agora.service.dev.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: add webpack-retry-chunk-load-plugin to fix chunk load failed error
  client/web/build/webpack.config.ts
  client/web/package.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化登录逻辑
  client/web/src/routes/Entry/LoginView.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复声网控制器逻辑操作写反的问题
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Controls.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add w2a project
  client/w2a/__W2A__nightly.paw.msgbyte.com.append.css
  client/w2a/app.js
  client/w2a/client_index.html
  client/w2a/manifest.json
  client/w2a/sitemap.json
  client/w2a/unpackage/res/icons/1024x1024.png
  client/w2a/unpackage/res/icons/120x120.png
  client/w2a/unpackage/res/icons/144x144.png
  client/w2a/unpackage/res/icons/152x152.png
  client/w2a/unpackage/res/icons/167x167.png
  client/w2a/unpackage/res/icons/180x180.png
  client/w2a/unpackage/res/icons/192x192.png
  client/w2a/unpackage/res/icons/20x20.png
  client/w2a/unpackage/res/icons/29x29.png
  client/w2a/unpackage/res/icons/40x40.png
  client/w2a/unpackage/res/icons/58x58.png
  client/w2a/unpackage/res/icons/60x60.png
  client/w2a/unpackage/res/icons/72x72.png
  client/w2a/unpackage/res/icons/76x76.png
  client/w2a/unpackage/res/icons/80x80.png
  client/w2a/unpackage/res/icons/87x87.png
  client/w2a/unpackage/res/icons/96x96.png
Due: prettier --write --config ./.prettierrc.json

Path conditions:
  prettier --write --config ./.prettierrc.json: ((any of: src/*.{json,less}) or (any of: **/*.js)) or (any of: **/*.{ts,tsx})
  eslint --fix: any of: **/*.{ts,tsx}
