Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

docs: add plugin list i18n support
  website/docs/plugin-list/fe.md
  website/docs/plugin-list/full.md
  website/docs/plugin-list/theme.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugin-list/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugin-list/fe.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugin-list/full.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugin-list/theme.md
  website/scripts/generate-plugin-list.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: compress bundle js
  client/web/build/webpack.config.ts
  client/web/package.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: move chinese blog
  website/blog/2023-02-25-ready-for-global.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2022-03-27-intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2022-09-06-v1.0.0.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-01-07-v1.4.0.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/authors.yml
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/images/v1.4.0-agora.png
  website/static/img/intro/connect-apps.excalidraw.png
  website/static/img/intro/connect-apps.excalidraw.svg
Due: none

docs: upgrade homepage header style
  website/docusaurus.config.js
  website/src/components/HomepageHeader.less
  website/src/components/HomepageHeader.tsx
  website/src/css/custom.css
  website/static/img/hero-dark.png
  website/static/img/hero-light.png
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add action group.extra for storage group extra data
  server/models/group/group-extra.ts
  server/services/core/group/groupExtra.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: add file card min width style
  client/web/src/components/Card/FileCard.tsx
  client/web/src/components/Card/Wrapper.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: refactor group panel wrapper, extract shared logic
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/Panel/common/Wrapper.tsx
  client/web/src/components/Panel/group/PluginPanel.tsx
  client/web/src/components/Panel/group/TextPanel.tsx
  client/web/src/components/Panel/group/Wrapper.tsx
  client/web/src/components/Panel/group/shared/GroupPanelContainer.tsx
  client/web/src/routes/Main/Content/Group/Panel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(cli): i18n support for create template
  apps/cli/templates/plopfile.js
Due: prettier --write --config ./.prettierrc.json

feat: add GroupExtraDataPanel for support panel which allow edit
  client/web/src/components/Markdown.tsx
  client/web/src/components/Modal.tsx
  client/web/src/components/Panel/group/GroupExtraDataPanel.tsx
  client/web/src/components/Panel/group/PluginPanel.tsx
  client/web/src/plugin/builtin.ts
  client/web/src/plugin/component/index.tsx
  client/web/src/routes/Main/Content/Group/Panel.tsx
  server/services/core/group/groupExtra.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add mdpanel plugin. then we can create markdown panel in group
  client/shared/model/group.ts
  client/web/plugins/com.msgbyte.mdpanel/manifest.json
  client/web/plugins/com.msgbyte.mdpanel/package.json
  client/web/plugins/com.msgbyte.mdpanel/src/group/MarkdownPanel.tsx
  client/web/plugins/com.msgbyte.mdpanel/src/index.tsx
  client/web/plugins/com.msgbyte.mdpanel/src/translate.ts
  client/web/plugins/com.msgbyte.mdpanel/tsconfig.json
  client/web/plugins/com.msgbyte.mdpanel/types/tailchat.d.ts
  pnpm-lock.yaml
  server/services/core/group/groupExtra.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: fix ci problem for type change
  client/web/src/components/Panel/personal/ConversePanel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: change plugin store installed plugin style
  client/web/src/plugin/PluginStore/Item.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update wechat group image
  website/static/img/wechat.jpg
Due: none

feat(admin): add user edit page
  server/admin/app/ra/App.tsx
  server/admin/app/ra/resources/file.tsx
  server/admin/app/ra/resources/user.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor(admin): use UserField to replace chat and file userId display
  server/admin/app/ra/components/UserField.tsx
  server/admin/app/ra/resources/chat.tsx
  server/admin/app/ra/resources/file.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: update backend language fallback to en
  server/packages/sdk/src/services/lib/i18n/index.ts
  server/packages/sdk/src/services/lib/i18n/parser.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add permission for deleteMessage
  client/shared/utils/role-helper.ts
  client/web/src/components/ChatBox/ChatMessageList/useChatMessageItemAction.tsx
  server/packages/sdk/src/services/lib/role.ts
  server/services/core/chat/message.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): update delete message logic with call
  server/admin/app/ra/resources/chat.tsx
  server/admin/app/server/broker.ts
  server/admin/app/server/router/api.ts
  server/models/group/group.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): add group filter in chat list
  server/admin/app/ra/components/GroupField.tsx
  server/admin/app/ra/components/PostListActionToolbar.tsx
  server/admin/app/ra/resources/chat.tsx
  server/admin/app/ra/resources/user.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

test: update snapshot for markdown link
  client/web/src/components/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: none

chore: release v1.6.6
  CHANGELOG.md
  package.json
Due: none

chore: add notify in docker publish
  .github/workflows/docker-publish.yml
Due: none

docs: add chinese README and remove wechat qrcode in en README
  README.md
  README.zh.md
Due: none

docs: add new website homepage
  pnpm-lock.yaml
  website/docs/contribution/dev/role.md
  website/package.json
  website/src/components/FeatureSection.less
  website/src/components/FeatureSection.tsx
  website/src/components/HomepageHeader.less
  website/src/components/HomepageHeader.tsx
  website/src/components/JoinCommunity.less
  website/src/components/JoinCommunity.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/utils/consts.ts
  website/src/utils/useMediumZoom.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: perf mobile view with fix top position
  website/src/components/FeatureSection.less
Due: none

docs: add blog about noIM and update Homepage
  website/blog/2023-03-01-the-era-of-noIM.md
  website/docusaurus.config.js
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-03-01-the-era-of-noIM.md
  website/src/components/HomepageHeader.less
  website/src/components/HomepageHeader.tsx
  website/static/img/underline.svg
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: update translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

fix: fix size problem in <GroupExtraDataPanel />
  client/web/src/components/Panel/group/GroupExtraDataPanel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: markdown component all to select text
  client/web/src/components/Markdown.less
Due: none

docs: update website README
  website/README.md
Due: none

docs: update tagline
  website/docusaurus.config.js
Due: prettier --write --config ./.prettierrc.json

docs: add producthunt in README and website
  README.md
  website/src/components/JoinCommunity.less
  website/src/components/JoinCommunity.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add gallery image
  website/static/img/gallery/bot.png
  website/static/img/gallery/custom-theme.png
  website/static/img/gallery/group-roles.png
  website/static/img/gallery/messenger.png
  website/static/img/gallery/multi-platform-support.png
  website/static/img/gallery/plugin-center.png
Due: none

style: update github subscribe tip text
  server/plugins/com.msgbyte.github/services/subscribe.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add config model and add action for get client config
  server/models/config.ts
  server/services/core/config.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add image parser
  client/packages/design/components/Avatar/index.tsx
  client/packages/design/components/Image/index.tsx
  client/packages/design/components/index.ts
  client/shared/model/user.ts
  client/web/src/init.tsx
  client/web/src/utils/file-helper.ts
  docker-compose.env
  server/.env.example
  server/packages/sdk/src/services/lib/settings.ts
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: modify right position of ScrollToBottom
  client/web/src/components/ChatBox/ChatMessageList/ScrollToBottom.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add toast for message item action
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/ChatBox/ChatMessageList/useChatMessageItemAction.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): add basic system config
  server/admin/app/ra/App.tsx
  server/admin/app/ra/i18n/custom.ts
  server/admin/app/ra/layout/Menu.tsx
  server/admin/app/ra/routes/system/index.tsx
  server/admin/app/server/router/api.ts
  server/admin/app/server/router/config.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update wechat qrcode
  website/static/img/wechat.jpg
Due: none
