Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

style: add translation for message search placeholder
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/Panel/common/MessageSearch.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: add limit for emotion style to fix transparent panel
  client/web/src/components/ChatBox/ChatInputBox/BaseChatInputButton.tsx
  client/web/src/components/ChatBox/ChatInputBox/Emotion.less
  client/web/src/components/ChatBox/ChatInputBox/Emotion.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: release note v1.9.4
  website/blog/2023-11-06-v1.9.4.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-11-06-v1.9.4.md
  website/static/img/blog/release-note/v1.9.4/1.png
  website/static/img/blog/release-note/v1.9.4/2.png
Due: none

docs: update doc default value for REQUEST_TIMEOUT
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: none

style: remove padding for message action popover inner content
  client/web/src/components/ChatBox/ChatInputBox/BaseChatInputButton.less
  client/web/src/components/ChatBox/ChatInputBox/BaseChatInputButton.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add env MINIO_SSL #172
  server/packages/sdk/src/services/lib/settings.ts
  server/services/core/file.service.ts
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: remove unused code
  website/docusaurus.config.js
Due: prettier --write --config ./.prettierrc.json

feat: add fast change role group with group member right click menu manage #171
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/hooks/useGroupMemberAction.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: add webpanel a group panel container
  client/web/plugins/com.msgbyte.webview/src/group/GroupWebPanelRender.tsx
  client/web/src/components/Panel/group/MembersPanel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: web panel support add background color which useful for transparent background website
  client/packages/design/components/WebMetaForm/types/Checkbox.tsx
  client/web/plugins/com.msgbyte.webview/src/group/GroupWebPanelRender.tsx
  client/web/plugins/com.msgbyte.webview/src/index.tsx
  client/web/plugins/com.msgbyte.webview/src/translate.ts
  client/web/src/components/modals/GroupPanel/ModifyGroupPanel.tsx
  packages/types/src/model/group.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: change tip word of group background
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/modals/GroupDetail/Config.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add search friend feature #157
  client/shared/cache/useCache.ts
  client/shared/hooks/model/useUserInfo.ts
  client/shared/hooks/useSearch.ts
  client/shared/index.tsx
  client/shared/model/user.ts
  client/web/src/components/Panel/group/TextPanel.tsx
  client/web/src/hooks/useGroupMemberAction.ts
  client/web/src/routes/Main/Content/Personal/Friends/FriendList.tsx
  packages/types/src/model/user.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

test: fix ci problem
  client/shared/model/user.ts
  client/web/src/routes/Main/Content/Personal/Friends/FriendList.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fixed an issue where the inbox groupId was incorrect when replying in a private conversation
  server/services/core/chat/message.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: added reload button
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/modals/SettingsView/System.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add action inviteCall in livekit
  server/plugins/com.msgbyte.livekit/services/livekit.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: export panelWindowManager
  client/web/src/plugin/common/index.ts
  client/web/src/utils/window-helper.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: add tip for tailchat sdk client
  client/packages/tailchat-client-sdk/src/openapi/client/base.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add livekit panel for converse dm meeting
  client/web/src/plugin/common/reg.ts
  client/web/src/routes/Panel/index.tsx
  client/web/src/utils/window-helper.ts
  client/web/tailchat.d.ts
  pnpm-lock.yaml
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/package.json
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/LivekitView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/PreJoinView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/panel/LivekitMeetingPanel.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/types/tailchat.d.ts
  server/services/core/gateway.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix a bug ban user clean cache will be have a gap between userinfo and token cache #179
  server/services/core/user/user.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add livekit meeting context and
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ActiveRoom.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ControlBar.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/VideoConference.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/context/MeetingContext.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/store/meeting.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add livekit member panel
  client/web/src/plugin/component/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/Chat.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ControlBar.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/Member.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/VideoConference.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/icons/ChatIcon.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/icons/LeaveIcon.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/useObservableState.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

test: fix ci problem
  pnpm-lock.yaml
Due: none

feat: add invite call when start meeting from conversation
  client/web/src/utils/window-helper.ts
  client/web/tailchat.d.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ActiveRoom.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/VideoConference.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/context/MeetingContext.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/store/meeting.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add livekit call invite notication card and actions
  client/shared/index.tsx
  client/shared/manager/ui.ts
  client/web/assets/audio/telephone.mp3
  client/web/build/webpack.config.ts
  client/web/src/init.tsx
  client/web/src/plugin/common/index.ts
  client/web/src/plugin/component/index.tsx
  client/web/tailchat.d.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/InviteCallNotification.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/Member.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add ref to avoid send invite twice
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/VideoConference.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add dark theme support for notification
  client/web/src/init.tsx
  client/web/src/styles/antd/dark.less
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf(desktop): improve server list manager logic
  client/desktop/src/renderer/App.tsx
  client/desktop/src/renderer/store/server.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: change capturer source picker url getter to make sure its can work on dev and prod env
  client/desktop/assets/capturer-source-picker.html
  client/desktop/electron-builder.yml
  client/desktop/src/main/main.ts
  client/desktop/src/main/menu.ts
  client/desktop/src/main/util.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore(desktop): v0.1.0
  client/desktop/release/app/package.json
Due: none

chore: release v1.9.5
  CHANGELOG.md
  package.json
Due: none

docs: release note v1.9.5
  website/blog/2023-11-21-v1.9.5.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-11-21-v1.9.5.md
  website/static/img/blog/release-note/v1.9.5/1.png
  website/static/img/blog/release-note/v1.9.5/2.png
  website/static/img/blog/release-note/v1.9.5/3.png
  website/static/img/blog/release-note/v1.9.5/4.png
  website/static/img/blog/release-note/v1.9.5/5.png
Due: none

docs: remove level 5 heading of release note v1.9.5
  website/blog/2023-11-21-v1.9.5.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-11-21-v1.9.5.md
Due: none

docs: update client download link
  website/static/downloads/client.json
Due: none

chore: add devcontainer config
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

chore: add docker file
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: none

perf: add audio preload for livekit invite call
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix the bug where the groupheader drop-down menu may expand upwards
  client/web/src/components/SectionHeader.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

Path conditions:
  prettier --write --config ./.prettierrc.json: ((any of: src/*.{json,less}) or (any of: **/*.js)) or (any of: **/*.{ts,tsx})
  eslint --fix: any of: **/*.{ts,tsx}
