Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

docs: release note v1.8.3
  website/blog/2023-07-10-v1.8.3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-10-v1.8.3.md
Due: none

docs: add images for release note
  website/blog/2023-07-10-v1.8.3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-10-v1.8.3.md
  website/static/img/blog/release-note/v1.8.3/1.png
  website/static/img/blog/release-note/v1.8.3/2.png
  website/static/img/blog/release-note/v1.8.3/3.png
  website/static/img/blog/release-note/v1.8.3/4.png
Due: none

docs: update blog sidebar to display all blog
  website/docusaurus.config.js
Due: prettier --write --config ./.prettierrc.json

perf: Remove linkmeta plugin based on performance considerations
  client/web/src/plugin/builtin.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: add url link for github subscribe message
  server/plugins/com.msgbyte.github/services/subscribe.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: ai-assistant update chatgpt link
  client/web/plugins/com.msgbyte.ai-assistant/src/popover.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add env DISABLE_PLUGIN_STORE which will hide plugin store entry
  client/shared/model/config.ts
  client/shared/utils/consts.ts
  client/web/src/routes/Main/Content/Personal/Sidebar.tsx
  server/packages/sdk/src/services/lib/settings.ts
  server/services/core/config.service.ts
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: AvatarUploader -> ImageUploader
  client/web/src/components/AvatarUploader.tsx
  client/web/src/components/ImageUploader.tsx
  client/web/src/components/modals/GroupDetail/Summary.tsx
  client/web/src/components/modals/SettingsView/Account.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add group background image in invite
  client/packages/design/components/Image/index.tsx
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/model/group.ts
  client/web/src/App.tsx
  client/web/src/components/modals/GroupDetail/Config.tsx
  client/web/src/routes/Entry/index.tsx
  client/web/src/routes/Invite/InviteInfo.tsx
  client/web/src/routes/Invite/index.tsx
  server/packages/sdk/src/services/types.ts
  server/services/core/group/group.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: fixed zustand/immer version
  package.json
  pnpm-lock.yaml
Due: none

fix: #102 fix non-email github account login cannot register problem
  client/web/src/components/modals/SettingsView/Account.tsx
  client/web/src/utils/user-helper.ts
  server/plugins/com.msgbyte.iam/services/iam.service.ts
  server/plugins/com.msgbyte.iam/strategies/github.ts
  server/plugins/com.msgbyte.iam/strategies/types.ts
  server/plugins/com.msgbyte.iam/web/plugins/com.msgbyte.iam/src/IAMAction.tsx
  server/plugins/com.msgbyte.iam/web/plugins/com.msgbyte.iam/src/translate.ts
  server/services/core/user/user.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: update translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

feat: add clear button for group background image
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/modals/GroupDetail/Config.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix discover server card color schema fit
  server/plugins/com.msgbyte.discover/web/plugins/com.msgbyte.discover/src/DiscoverPanel/DiscoverServerCard.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add jump to button for joined groups in discover
  server/plugins/com.msgbyte.discover/web/plugins/com.msgbyte.discover/src/DiscoverPanel/DiscoverServerCard.tsx
  server/plugins/com.msgbyte.discover/web/plugins/com.msgbyte.discover/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix problem if send message throw error will clear input message
  client/shared/redux/hooks/useConverseMessage.ts
  client/web/src/components/ChatBox/ChatInputBox/index.tsx
  client/web/src/components/ChatBox/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(desktop): add menu and shortcuts to reload page
  client/desktop/src/main/menu.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(desktop): when file download completed, open folder
  client/desktop/src/main/main.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add feature disableAddFriend which can disable add friends
  client/shared/model/config.ts
  client/shared/utils/consts.ts
  client/web/src/routes/Main/Content/Personal/Friends/index.tsx
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/packages/sdk/package.json
  server/packages/sdk/src/services/lib/settings.ts
  server/services/core/chat/message.service.ts
  server/services/core/config.service.ts
  server/services/core/user/friendRequest.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: fix incorrect docusaurus editUrl
  website/docusaurus.config.js
Due: prettier --write --config ./.prettierrc.json

feat: add invite code usage limit for every invite code
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/model/group.ts
  client/shared/utils/role-helper.ts
  client/web/src/components/modals/CreateGroupInvite/CreateInviteCode.tsx
  client/web/src/components/modals/EditGroupInvite/index.tsx
  client/web/src/components/modals/GroupDetail/Invite.tsx
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/models/group/invite.ts
  server/packages/sdk/src/services/lib/role.ts
  server/services/core/group/invite.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add unique index for group invite code
  server/models/group/invite.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: add invite code generate check to avoid duplicated invite code
  pnpm-lock.yaml
  server/models/group/invite.ts
  server/package.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: refactor code style and make ack mode field from ref -> string
  client/shared/redux/hooks/useConverseAck.ts
  client/shared/redux/hooks/useGroupAck.ts
  server/models/chat/ack.ts
  server/services/core/chat/ack.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add create invite code edited data update. now can review changed info
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/InviteCodeExpiredAt.tsx
  client/web/src/components/modals/CreateGroupInvite/CreateInviteCode.tsx
  client/web/src/components/modals/EditGroupInvite/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix unupdate problem in group invite code create action
  client/web/src/components/modals/CreateGroupInvite/CreateInviteCode.tsx
  client/web/src/components/modals/CreateGroupInvite/index.tsx
  client/web/src/components/modals/GroupDetail/Invite.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade desktop version to 0.0.2
  client/desktop/release/app/package.json
Due: none

chore: release v1.8.4
  CHANGELOG.md
  package.json
Due: none

docs: release note v1.8.4
  website/blog/2023-07-14-v1.8.4.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-14-v1.8.4.md
  website/static/img/blog/release-note/v1.8.4/1.png
  website/static/img/blog/release-note/v1.8.4/2.png
  website/static/img/blog/release-note/v1.8.4/3.png
  website/static/img/blog/release-note/v1.8.4/4.png
  website/static/img/blog/release-note/v1.8.4/5.png
  website/static/img/blog/release-note/v1.8.4/6.png
  website/static/img/blog/release-note/v1.8.4/7.png
Due: none

docs: update download link
  website/static/downloads/client.json
Due: none

docs: fill DISABLE_ADD_FRIEND env var docs
  website/docs/deployment/environment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/environment.md
Due: none

fix: #106 fixed maybe xss attack from custom web html panel
  client/web/plugins/com.msgbyte.webview/package.json
  client/web/plugins/com.msgbyte.webview/src/group/GroupCustomWebPanelRender.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: append Troubleshooting
  website/docs/deployment/troubleshooting.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/troubleshooting.md
Due: none

style: update tailchat.d.ts
  client/web/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: use group extra to storage custom web panel html
  client/web/plugins/com.msgbyte.webview/src/group/GroupCustomWebPanelRender.tsx
  client/web/plugins/com.msgbyte.webview/src/index.tsx
  client/web/plugins/com.msgbyte.webview/src/translate.ts
  client/web/src/plugin/common/index.ts
  client/web/src/plugin/common/reg.ts
  website/docs/plugins/api/common.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: update custom web panel render xss rules
  client/web/plugins/com.msgbyte.webview/src/group/GroupCustomWebPanelRender.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade react-virtuoso to v4.4.0
  client/web/package.json
  pnpm-lock.yaml
Due: none

perf: optimize the performance of the member list in the case of large data
  client/shared/cache/useCache.ts
  client/shared/model/user.ts
  client/shared/utils/request.ts
  client/web/plugins/com.msgbyte.webview/src/group/GroupCustomWebPanelRender.tsx
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/modals/GroupDetail/Member.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add global announcement
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/model/config.ts
  client/shared/utils/consts.ts
  client/web/src/components/GlobalAnnouncementBar.tsx
  client/web/src/routes/Main/index.tsx
  server/admin/src/client/i18n.ts
  server/admin/src/client/routes/system/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add broadcast notify when call config.setClientConfig
  client/shared/redux/setup.ts
  server/models/config.ts
  server/services/core/config.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix
