Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

feat(openapi): add open app base info
  client/web/plugins/com.msgbyte.openapi/src/MainPanel/AppInfo/Profile.less
  client/web/plugins/com.msgbyte.openapi/src/MainPanel/AppInfo/Profile.tsx
  client/web/plugins/com.msgbyte.openapi/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(openapi): allow edit appName, appDesc and appIcon
  client/web/plugins/com.msgbyte.openapi/src/MainPanel/AppInfo/Profile.tsx
  client/web/plugins/com.msgbyte.openapi/src/MainPanel/AppInfo/index.tsx
  client/web/plugins/com.msgbyte.openapi/src/MainPanel/AppInfo/useOpenAppAction.tsx
  client/web/src/components/modals/GroupDetail/Config.tsx
  client/web/src/plugin/component/index.tsx
  server/services/openapi/app.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix userSettings cache lost then make user settings drop bug
  client/shared/cache/cache.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(openapi): allow app back action which back to app list
  client/web/plugins/com.msgbyte.openapi/src/MainPanel/AppInfo/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: completion algorithm adds missing offline icons
  client/web/plugins/com.msgbyte.offline-icons/scripts/extract-icons.ts
  client/web/plugins/com.msgbyte.offline-icons/src/icons.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(openapi): add backend image icon support in authorize page
  server/services/openapi/oidc/oidc.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: format ejs
  server/services/openapi/oidc/views/_header.ejs
  server/services/openapi/oidc/views/authorize.ejs
  server/services/openapi/oidc/views/error.ejs
  server/services/openapi/oidc/views/login.ejs
Due: none

chore: add dev script for openapi-oidc-page
  pnpm-lock.yaml
  server/services/openapi/oidc/oidc.service.ts
  server/test/demo/openapi-oidc-page/package.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add document for livekit
  website/docs/advanced-usage/plugins/com.msgbyte.livekit.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/plugins/com.msgbyte.livekit.md
  website/static/img/advanced-usage/plugins/livekit/1.png
  website/static/img/advanced-usage/plugins/livekit/2.png
  website/static/img/advanced-usage/plugins/livekit/3.png
  website/static/img/advanced-usage/plugins/livekit/4.png
Due: none

docs: update document
  website/docs/advanced-usage/plugins/com.msgbyte.livekit.md
Due: none

feat(livekit): add chat count in outside
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/Chat.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ChatContext.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ControlBar.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/VideoConference.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix(openapi): fix logoUri must be a a web uri warning problem
  server/services/openapi/oidc/adapter.ts
  server/services/openapi/oidc/oidc.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add livekit plugin document link
  client/web/src/plugin/manager.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/manifest.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update README
  README.md
  README.zh.md
Due: none

chore: release v1.8.11
  CHANGELOG.md
  package.json
Due: none

docs: release note v1.8.11
  website/blog/2023-08-28-v1.8.11.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-08-28-v1.8.11.md
  website/static/img/blog/release-note/v1.8.11/1.png
Due: none

style: remove duplicate key
  client/web/plugins/com.msgbyte.openapi/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: change panel manager view max height
  client/web/src/components/modals/GroupDetail/Panel/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: add toast tip for not support full screen browser
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ParticipantTile.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): add fuzzy search support for user `q` with `nickname`
  server/admin/src/server/router/api.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: add getConverseInfo call action in sdk
  packages/types/package.json
  packages/types/src/model/message.ts
  server/packages/sdk/package.json
  server/packages/sdk/src/services/lib/call.ts
  server/packages/sdk/src/structs/chat.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: allow remove converse from dmlist
  client/shared/model/user.ts
  client/shared/redux/slices/chat.ts
  client/web/src/routes/Main/Content/Personal/SidebarDMItem.tsx
  server/packages/sdk/src/services/lib/call.ts
  server/services/core/chat/message.service.ts
  server/services/core/user/dmlist.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update lockfile
  pnpm-lock.yaml
Due: none

feat: add raw markdown syntax support for MarkdownRender
  client/web/package.json
  client/web/src/components/Markdown.tsx
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add upload image feature
  client/shared/utils/url-helper.ts
  client/web/src/components/Markdown.tsx
  client/web/src/components/MarkdownEditor/editor.tsx
  client/web/src/utils/url-helper.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: remove unused files
  server/.github/workflows/ci.yaml
  server/.github/workflows/docker-publish.yml
Due: none

refactor: move Markdown Editor and Markdown component into together
  client/web/src/components/Markdown/editor.less
  client/web/src/components/Markdown/editor.tsx
  client/web/src/components/Markdown/index.tsx
  client/web/src/components/Markdown/render.less
  client/web/src/components/Markdown/render.tsx
  client/web/src/components/MarkdownEditor/plugins.ts
  client/web/src/plugin/component/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: markdown editor add dark mode adaptation
  client/web/src/components/Markdown/editor.less
  client/web/src/components/Markdown/editor.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: optimize small size image display
  client/web/plugins/com.msgbyte.bbcode/src/tags/ImgTag.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: #148 fix non-mime problem when get file from minio
  server/services/core/chat/message.service.ts
  server/services/core/file.service.ts
  server/services/core/gateway.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix lost extname problem after compress image
  client/web/src/utils/file-helper.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

test: fix ci problem
  client/web/src/utils/__tests__/url-helper.spec.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

test: fix ci test error
  client/web/jest.config.js
  client/web/src/components/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: prettier --write --config ./.prettierrc.json

docs: add mobile compile document
  client/mobile/package.json
  website/docs/deployment/mobile.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/deployment/mobile.md
  website/static/img/misc/getui.png
Due: none

feat: add online status in user popover
  client/web/src/components/UserProfileContainer.tsx
  server/models/chat/ack.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add release note link in homepage
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2022-09-06-v1.0.0.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-01-07-v1.4.0.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-03-14-v1.6.7.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-04-02-v1.6.8.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-04-24-v1.7.0.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-05-24-v1.7.4.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-05-28-v1.7.5.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-06-07-v1.7.6.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-06-21-v1.8.0.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-03-v1.8.1.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-05-v1.8.2.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-10-v1.8.3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-14-v1.8.4.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-19-v1.8.5.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-24-v1.8.6.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-30-v1.8.7.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-08-06-v1.8.8.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-08-13-v1.8.9.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-08-21-v1.8.10.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-08-28-v1.8.11.md
  website/src/components/HomepageHeader.less
  website/src/components/HomepageHeader.tsx
  website/src/utils/consts.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.8.12
  CHANGELOG.md
  package.json
Due: none

doc: add space
  README.zh.md
Due: none

docs: add release note v1.8.12
  website/blog/2023-09-04-v1.8.12.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-09-04-v1.8.12.md
  website/static/img/blog/release-note/v1.8.12/1.gif
  website/static/img/blog/release-note/v1.8.12/2.png
Due: none
