Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

style: add translate for integration
  client/web/plugins/com.msgbyte.integration/src/IntegrationPanel.tsx
  client/web/plugins/com.msgbyte.integration/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add markdown gfm support and add markdown editor
  client/web/package.json
  client/web/src/components/Markdown.less
  client/web/src/components/Markdown.tsx
  client/web/src/components/MarkdownEditor/editor.tsx
  client/web/src/components/MarkdownEditor/index.tsx
  client/web/src/components/MarkdownEditor/plugins.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add markdown editor into panel
  client/web/plugins/com.msgbyte.mdpanel/src/group/MarkdownPanel.tsx
  client/web/src/plugin/component/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: hidden github icon from markdown editor
  client/web/src/components/MarkdownEditor/editor.tsx
  client/web/src/components/MarkdownEditor/style.less
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update codemagic env writing script
  codemagic.yaml
Due: none

chore: add codemagic badge into README
  README.md
  README.zh.md
Due: none

chore: upgrade pnpm lock version and resolve ci test complier problem
  client/web/jest.config.js
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json

test: add testcase for markdown table feature
  client/web/src/components/__tests__/Markdown.spec.tsx
  client/web/src/components/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add codemagic cloudflare upload
  codemagic.yaml
Due: none

chore: upgrade pnpm version in CI
  .github/workflows/ci.yaml
Due: none

chore: update Cloudflare page project name
  codemagic.yaml
Due: none

chore: update app deploy script and add link to notify
  client/mobile/scripts/notify-links.js
  codemagic.yaml
Due: prettier --write --config ./.prettierrc.json

chore: update codemagic notify link url
  client/mobile/scripts/notify-links.js
Due: prettier --write --config ./.prettierrc.json

feat: add plugin com.msgbyte.wxpusher
  pnpm-lock.yaml
  server/plugins/com.msgbyte.wxpusher/.ministarrc.js
  server/plugins/com.msgbyte.wxpusher/models/wxpusher-user.ts
  server/plugins/com.msgbyte.wxpusher/package.json
  server/plugins/com.msgbyte.wxpusher/services/wxpusher.service.dev.ts
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/manifest.json
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/package.json
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/src/index.tsx
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/tsconfig.json
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: add ErrorBoundary for routes
  client/web/src/App.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: update tailchat .d.ts
  client/web/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix the problem that the version of react-query is not uniform
  client/shared/package.json
  client/web/package.json
  pnpm-lock.yaml
Due: none

chore: unified react type version
  package.json
  pnpm-lock.yaml
  server/plugins/com.msgbyte.github/package.json
  server/plugins/com.msgbyte.tasks/package.json
Due: none

feat: add fe ui in wxpusher plugin
  client/web/src/plugin/component/index.tsx
  client/web/tailchat.d.ts
  server/plugins/com.msgbyte.wxpusher/services/wxpusher.service.ts
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/src/SettingsPanel.tsx
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/src/index.tsx
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/src/translate.ts
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: fix build problem in docker
  Dockerfile
  apps/cli/package.json
  apps/github-app/package.json
  package.json
  pnpm-lock.yaml
  server/packages/sdk/package.json
  server/packages/sdk/src/services/lib/moleculer-web/index.ts
  server/packages/sdk/tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: unified messaging inbox content to payload
  client/mobile/src/lib/socket/index.ts
  client/shared/index.tsx
  client/shared/model/inbox.ts
  client/web/src/routes/Main/Content/Inbox/Content/Message.tsx
  client/web/src/routes/Main/Content/Inbox/Sidebar.tsx
  packages/types/model/inbox.ts
  server/models/chat/inbox.ts
  server/packages/sdk/src/structs/chat.ts
  server/plugins/com.msgbyte.getui/services/getui.service.ts
  server/services/core/chat/inbox.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade mini-star version
  client/web/package.json
  pnpm-lock.yaml
Due: none

chore: update lock-file for pnpm@8
  pnpm-lock.yaml
Due: none

feat: add wxpusher message push
  server/models/chat/inbox.ts
  server/packages/sdk/src/structs/chat.ts
  server/plugins/com.msgbyte.wxpusher/services/wxpusher.service.ts
  server/services/core/chat/inbox.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add wxpusher in default plugin list
  package.json
  pnpm-lock.yaml
  server/plugins/com.msgbyte.wxpusher/.ministarrc.js
  server/plugins/com.msgbyte.wxpusher/package.json
  server/plugins/com.msgbyte.wxpusher/services/wxpusher.service.ts
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/assets/icon.png
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/manifest.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add tutorial for create theme plugin and init environment
  website/docs/plugins/guide/_category_.json
  website/docs/plugins/guide/create-theme.md
  website/docs/plugins/guide/init-env.md
  website/docs/plugins/icon.md
  website/docs/plugins/start.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/create-theme.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/guide/init-env.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/icon.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/plugins/start.mdx
  website/static/img/tutorial/plugin/1.png
  website/static/img/tutorial/plugin/10.png
  website/static/img/tutorial/plugin/2.png
  website/static/img/tutorial/plugin/3.png
  website/static/img/tutorial/plugin/4.png
  website/static/img/tutorial/plugin/5.png
  website/static/img/tutorial/plugin/6.png
  website/static/img/tutorial/plugin/7.png
  website/static/img/tutorial/plugin/8.png
  website/static/img/tutorial/plugin/9.png
Due: none

docs: update order for create-theme.md
  website/docs/plugins/guide/create-theme.md
Due: none

docs: update wechat qrcode
  website/static/img/wechat.jpg
Due: none

chore(admin-next): init tailchat-admin-next
  docker/simple/README.md
  docker/simple/docker-compose.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/admin-next/.adminjs/.entry.js
  server/admin-next/README.md
  server/admin-next/index.html
  server/admin-next/nodemon.json
  server/admin-next/package.json
  server/admin-next/public/logo.svg
  server/admin-next/src/client/App.tsx
  server/admin-next/src/client/auth.ts
  server/admin-next/src/client/fields.ts
  server/admin-next/src/client/main.tsx
  server/admin-next/src/client/vite-env.d.ts
  server/admin-next/src/index.ts
  server/admin-next/src/old/api.ts
  server/admin-next/src/old/dashboard.tsx
  server/admin-next/src/old/index.ts
  server/admin-next/src/old/resources.ts
  server/admin-next/src/resources/User.ts
  server/admin-next/src/server/index.ts
  server/admin-next/static/images/logo.svg
  server/admin-next/tsconfig.json
  server/admin-next/vite.config.ts
  server/plugins/com.msgbyte.linkmeta/services/linkmeta.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: move backend logic to admin-next
  pnpm-lock.yaml
  server/admin-next/index.html
  server/admin-next/package.json
  server/admin-next/src/client/auth.ts
  server/admin-next/src/server/broker.ts
  server/admin-next/src/server/index.ts
  server/admin-next/src/server/middleware/auth.ts
  server/admin-next/src/server/router/api.ts
  server/admin-next/src/server/router/config.ts
  server/admin-next/src/server/router/file.ts
  server/admin-next/src/server/router/network.ts
  server/admin-next/tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: add wxpusher user guide
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/src/SettingsPanel.tsx
  website/docs/advanced-usage/plugins/_category_.json
  website/docs/advanced-usage/plugins/wxpusher.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/plugins/wxpusher.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add url document support for http protocol
  client/web/src/plugin/PluginStore/DocumentView/index.tsx
  server/plugins/com.msgbyte.wxpusher/web/plugins/com.msgbyte.wxpusher/manifest.json
  website/docs/advanced-usage/plugins/com.msgbyte.wxpusher.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced-usage/plugins/com.msgbyte.wxpusher.md
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update zh-Hans sidebar translation
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
Due: none

style: update style for document iframe in modal
  client/web/src/components/Modal.tsx
  client/web/src/plugin/PluginStore/DocumentView/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: release v1.7.0
  CHANGELOG.md
  package.json
Due: none

docs: release note 1.7.0
  website/blog/2023-04-24-v1.7.0.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-04-24-v1.7.0.md
Due: none

feat: add sakana widget
  client/web/plugins/com.msgbyte.widget.sakana/assets/icon.png
  client/web/plugins/com.msgbyte.widget.sakana/manifest.json
  client/web/plugins/com.msgbyte.widget.sakana/package.json
  client/web/plugins/com.msgbyte.widget.sakana/src/index.tsx
  client/web/plugins/com.msgbyte.widget.sakana/src/main.css
  client/web/plugins/com.msgbyte.widget.sakana/src/main.ts
  client/web/plugins/com.msgbyte.widget.sakana/src/translate.ts
  client/web/plugins/com.msgbyte.widget.sakana/tsconfig.json
  client/web/plugins/com.msgbyte.widget.sakana/types/tailchat.d.ts
  client/web/registry.json
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: update release note translation in zh-Hans
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-04-24-v1.7.0.md
Due: none

docs: update README in server
  server/README.md
Due: none

chore: add openapi bot and integration service into docker-compose
  docker-compose.yml
Due: none
