Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

feat: 增加注册账号/游客认领账号时进行邮箱校验(配置)
  client/packages/design/components/index.ts
  client/shared/model/config.ts
  client/shared/model/user.ts
  client/web/src/components/modals/ClaimTemporaryUser.tsx
  client/web/src/routes/Entry/ForgetPasswordView.tsx
  client/web/src/routes/Entry/RegisterView.tsx
  server/models/user/user.ts
  server/packages/sdk/src/services/lib/settings.ts
  server/services/core/config.service.ts
  server/services/core/user/user.service.ts
  server/views/mail.ejs
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: update docs and translation for EMAIL_VERIFY
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  website/docs/deployment/environment.md
Due: none

chore: add release:patch script
  package.json
Due: none

chore: release v1.5.0
  CHANGELOG.md
  package.json
Due: none

perf: 优化网络请求错误抛出
  client/shared/api/request.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 抽象并统一Entry界面按钮样式
  client/web/src/routes/Entry/ForgetPasswordView.tsx
  client/web/src/routes/Entry/GuestView.tsx
  client/web/src/routes/Entry/LoginView.tsx
  client/web/src/routes/Entry/RegisterView.tsx
  client/web/src/routes/Entry/components/Input.tsx
  client/web/src/routes/Entry/components/PrimaryBtn.tsx
  client/web/src/routes/Entry/components/SecondaryBtn.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 邮箱校验属性变更
  server/models/user/user.ts
  server/services/core/user/user.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: upload more logo for email
  website/static/img/logo@192.png
Due: none

feat: 增加邮箱认证功能
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/shared/model/user.ts
  client/web/src/components/modals/EmailVerify.tsx
  client/web/src/components/modals/SettingsView/Account.tsx
  client/web/src/styles/antd/dark.less
  server/locales/en-US/translation.json
  server/locales/zh-CN/translation.json
  server/packages/sdk/src/structs/user.ts
  server/services/core/user/mail.service.ts
  server/services/core/user/user.service.ts
  server/views/mail.ejs
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 页面增加opengraph属性
  client/web/assets/template.html
Due: none

docs: 增加一键安装文档介绍
  website/docs/deployment/install-docker.md
Due: none

style: cli docker 命令移动到单独的文件夹
  apps/cli/src/commands/docker/index.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: 单独抽出init到独立文件
  apps/cli/src/commands/docker/doctor.ts
  apps/cli/src/commands/docker/index.ts
  apps/cli/src/commands/docker/init.ts
  apps/cli/src/commands/docker/update.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: cli docker init初始化增加引导
  apps/cli/package.json
  apps/cli/src/commands/docker/init.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: 抽象github url代理逻辑
  apps/cli/src/commands/docker/init.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: tailchat docker init 命令增加自定义文件夹支持
  apps/cli/src/commands/docker/init.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: tailchat-cli 1.5.0
  apps/cli/package.json
Due: none

feat: cli 增加更新提示
  apps/cli/package.json
  apps/cli/src/index.ts
  apps/cli/src/update.ts
  pnpm-lock.yaml
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: tailchat-cli v1.5.1
  apps/cli/package.json
Due: none

docs: update docs for tailchat-cli
  website/docs/cli/tailchat-cli.md
Due: none

docs: 调整init命令的提示
  apps/cli/package.json
  apps/cli/src/commands/docker/init.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

docs: 增加命令行一键配置/拉取相关文档
  website/docs/cli/tailchat-cli.md
  website/docs/deployment/assets/docker-init.png
  website/docs/deployment/docker-compose.mdx
Due: none

feat: Loadable增加配置项允许增加加载中提示
  client/web/src/components/Loadable.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/index.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/index.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加屏幕共享功能
  server/plugins/com.msgbyte.agora/services/agora.service.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/Controls.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/MeetingView.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/VideoView.tsx
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/client.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/store.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/FloatWindow/useScreenSharing.ts
  server/plugins/com.msgbyte.agora/web/plugins/com.msgbyte.agora/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加群组卡片创建者标签以及角色列表
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/popover/GroupUserPopover.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: 修复类型问题
  client/shared/model/user.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化获取群组设置的逻辑，增强代码可读性
  client/shared/index.tsx
  client/shared/model/group.ts
  client/web/src/components/Panel/group/MembersPanel.tsx
  client/web/src/components/popover/GroupUserPopover.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add swagger script for api
  pnpm-lock.yaml
  server/.gitignore
  server/package.json
  server/scripts/swagger.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: 增加service action扫描脚本用于自动生成swagger jsdoc文档
  pnpm-lock.yaml
  server/package.json
  server/packages/swagger-jsdoc-generator/package.json
  server/packages/swagger-jsdoc-generator/src/index.ts
  server/packages/swagger-jsdoc-generator/src/processService.ts
  server/packages/swagger-jsdoc-generator/src/utils.ts
  server/packages/swagger-jsdoc-generator/tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: 优化getUserOnlineStatus的网络请求连接，自动合并多个请求为一个后端请求
  client/shared/model/user.ts
  client/shared/utils/request.ts
  server/services/core/user/user.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: admin 初始化与基本界面
  .eslintrc.js
  pnpm-lock.yaml
  server/admin/.gitignore
  server/admin/README.md
  server/admin/app/entry.client.tsx
  server/admin/app/entry.server.tsx
  server/admin/app/ra/App.tsx
  server/admin/app/ra/authProvider.ts
  server/admin/app/ra/resources/user.tsx
  server/admin/app/root.tsx
  server/admin/app/routes/admin/$.tsx
  server/admin/app/routes/admin/index.tsx
  server/admin/app/routes/index.tsx
  server/admin/app/styles/app.css
  server/admin/nodemon.json
  server/admin/package.json
  server/admin/public/favicon.ico
  server/admin/remix.config.js
  server/admin/remix.env.d.ts
  server/admin/server.ts
  server/admin/tsconfig.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加文件列表
  pnpm-lock.yaml
  server/admin/app/entry.client.tsx
  server/admin/app/ra/App.tsx
  server/admin/app/ra/components/FilesizeField.tsx
  server/admin/app/ra/resources/chat.tsx
  server/admin/app/ra/resources/file.tsx
  server/admin/app/ra/resources/user.tsx
  server/admin/app/ra/theme.ts
  server/admin/package.json
  server/admin/server.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: admin 增加dashboard
  pnpm-lock.yaml
  server/admin/app/ra/App.tsx
  server/admin/app/ra/dashboard/CardWithIcon.tsx
  server/admin/app/ra/dashboard/Welcome.tsx
  server/admin/app/ra/dashboard/cartouche.png
  server/admin/app/ra/dashboard/cartoucheDark.png
  server/admin/app/ra/dashboard/index.tsx
  server/admin/app/ra/dashboard/logo.svg
  server/admin/app/ra/resources/group.tsx
  server/admin/package.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加admin登录鉴权逻辑
  pnpm-lock.yaml
  server/admin/app/ra/App.tsx
  server/admin/app/ra/authProvider.ts
  server/admin/app/server/api.ts
  server/admin/app/server/index.ts
  server/admin/app/server/middleware.ts
  server/admin/package.json
  server/admin/server.ts
  server/models/group/group.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加更多的资源(message/group/file)
  pnpm-lock.yaml
  server/admin/app/ra/App.tsx
  server/admin/app/ra/authProvider.ts
  server/admin/app/ra/resources/chat.tsx
  server/admin/app/ra/resources/group.tsx
  server/admin/app/ra/resources/user.tsx
  server/admin/app/server/index.ts
  server/admin/nodemon.json
  server/admin/package.json
  server/admin/server.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加tailchat 网络菜单
  pnpm-lock.yaml
  server/admin/app/ra/App.tsx
  server/admin/app/ra/components/ChipItems.tsx
  server/admin/app/ra/layout/Menu.tsx
  server/admin/app/ra/layout/index.tsx
  server/admin/app/ra/network/index.tsx
  server/admin/app/ra/request.ts
  server/admin/app/ra/resources/user.tsx
  server/admin/package.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: 增加broker并增加相关接口
  pnpm-lock.yaml
  server/admin/app/ra/dashboard/CardWithIcon.tsx
  server/admin/app/ra/resources/file.tsx
  server/admin/app/server/broker.ts
  server/admin/app/server/index.ts
  server/admin/app/server/router/api.ts
  server/admin/app/server/router/network.ts
  server/admin/package.json
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: init uni-5plus app
  client/uniplus/.gitignore
  client/uniplus/androidPrivacy.json
  client/uniplus/index.html
  client/uniplus/js/index.js
  client/uniplus/manifest.json
  client/uniplus/unpackage/res/icons/1024x1024.png
  client/uniplus/unpackage/res/icons/120x120.png
  client/uniplus/unpackage/res/icons/144x144.png
  client/uniplus/unpackage/res/icons/152x152.png
  client/uniplus/unpackage/res/icons/167x167.png
  client/uniplus/unpackage/res/icons/180x180.png
  client/uniplus/unpackage/res/icons/192x192.png
  client/uniplus/unpackage/res/icons/20x20.png
  client/uniplus/unpackage/res/icons/29x29.png
  client/uniplus/unpackage/res/icons/40x40.png
  client/uniplus/unpackage/res/icons/58x58.png
  client/uniplus/unpackage/res/icons/60x60.png
  client/uniplus/unpackage/res/icons/72x72.png
  client/uniplus/unpackage/res/icons/76x76.png
  client/uniplus/unpackage/res/icons/80x80.png
  client/uniplus/unpackage/res/icons/87x87.png
  client/uniplus/unpackage/res/icons/96x96.png
  client/w2a/app.js
Due: prettier --write --config ./.prettierrc.json
