Repository msgbyte/tailchat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.json, eslint --fix

.lintstagedrc.json:

{
  "src/*.{json,less}": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.js": [
    "prettier --write --config ./.prettierrc.json"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --config ./.prettierrc.json"
  ]
}

style: update offline icons
  client/web/plugins/com.msgbyte.offline-icons/src/icons.json
Due: none

feat(livekit): add livekit webhook receiver
  client/web/src/utils/global-state-helper.ts
  pnpm-lock.yaml
  server/plugins/com.msgbyte.livekit/package.json
  server/plugins/com.msgbyte.livekit/services/livekit.service.dev.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/group/LivekitPanelBadge.tsx
  server/plugins/com.msgbyte.livekit/webhook/README.md
  server/plugins/com.msgbyte.livekit/webhook/broker.ts
  server/plugins/com.msgbyte.livekit/webhook/index.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add keep alive overlay for livekit view
  client/web/src/plugin/component/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/LivekitView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/group/LivekitPanel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add fullscreen btn to make dom full screen
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/FullScreenBtn.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/FocusLayout.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ParticipantTile.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/VideoConference.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(livekit): add basic room and service endpoint
  pnpm-lock.yaml
  server/plugins/com.msgbyte.livekit/package.json
  server/plugins/com.msgbyte.livekit/services/livekit.service.dev.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/assets/icon.png
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/manifest.json
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ActiveRoom.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/group/LivekitPanel.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/useServerUrl.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/useToken.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add <PreJoinView /> for voice channel
  client/web/plugins/com.msgbyte.mdpanel/src/index.tsx
  client/web/src/plugin/component/index.tsx
  client/web/tailchat.d.ts
  pnpm-lock.yaml
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/package.json
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/LivekitContainer.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/PreJoinView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/group/LivekitPanel.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(livekit): add long dependency
  pnpm-lock.yaml
  server/plugins/com.msgbyte.livekit/package.json
Due: none

feat: rewrite all videoconference components. support useravatar and i18n
  client/shared/utils/request.ts
  client/web/src/plugin/common/index.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ActiveRoom.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/LivekitContainer.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/LivekitView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/CarouselLayout.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/Chat.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ControlBar.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/ParticipantTile.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/PreJoinView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/VideoConference.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/icons/ChatIcon.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/icons/LeaveIcon.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/icons/ScreenShareIcon.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/group/LivekitPanel.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/common.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/mergeProps.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/useMediaQuery.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/useObservableState.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/useResizeObserver.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add navbar icon which can jump to active panel
  client/web/plugins/com.msgbyte.music/src/index.tsx
  client/web/src/components/modals/GroupDetail/Role/tabs/member.tsx
  pnpm-lock.yaml
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/package.json
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/group/LivekitPanel.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/navbar/redirect.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/navbar/useIconIsShow.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/store/useLivekitState.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add plugin create node_modules symlink in build stage
  pnpm-lock.yaml
  server/package.json
  server/scripts/build.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: regCustomPanel add useIsShow props to hide icon
  client/web/src/plugin/common/reg.ts
  client/web/src/routes/Main/Navbar/CustomNavItem.tsx
  client/web/src/routes/Main/Navbar/NavItem.tsx
  client/web/tailchat.d.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add roomMembers list in prejoin view
  client/packages/design/components/Avatar/index.tsx
  client/web/src/components/UserAvatar.tsx
  server/plugins/com.msgbyte.livekit/services/livekit.service.dev.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/LivekitView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ParticipantAvatars.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/lib/PreJoinView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/request.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/translate.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add group badge for current room participants
  client/shared/model/group.ts
  client/web/src/plugin/common/reg.ts
  client/web/src/routes/Main/Content/Group/AckPanelItem.tsx
  client/web/src/routes/Main/Content/Group/SidebarItem.tsx
  client/web/src/routes/Main/Content/Group/utils.tsx
  client/web/src/utils/group-helper.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ParticipantAvatars.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/group/LivekitPanelBadge.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/utils/useRoomParticipants.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: livekit plugin init
  server/plugins/com.msgbyte.livekit/.ministarrc.js
  server/plugins/com.msgbyte.livekit/models/livekit.ts
  server/plugins/com.msgbyte.livekit/package.json
  server/plugins/com.msgbyte.livekit/services/livekit.service.dev.ts
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/manifest.json
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/package.json
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/index.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/tsconfig.json
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/types/tailchat.d.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add leave pre room when join new room
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ActiveRoom.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/LivekitView.tsx
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/store/useLivekitState.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: add com.msgbyte.livekit into server plugin list
  package.json
Due: none

chore: move assets from source when build com.msgbyte.livekit plugin
  pnpm-lock.yaml
  server/plugins/com.msgbyte.livekit/.ministarrc.js
  server/plugins/com.msgbyte.livekit/package.json
Due: prettier --write --config ./.prettierrc.json

refactor: update livekit build config and fix style problem and add event log
  docker/livekit.yml
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/FullScreenBtn.tsx
  server/plugins/com.msgbyte.livekit/webhook/index.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor(cli): update template config
  apps/cli/package.json
  apps/cli/templates/server-plugin-full/{{id}}/.ministarrc.js
  apps/cli/templates/server-plugin-web/{{id}}/.ministarrc.js
Due: prettier --write --config ./.prettierrc.json

docs: add livekit deployment document
  docker/livekit.yml
  website/docs/meeting/_category_.json
  website/docs/meeting/deployment.md
  website/docs/meeting/design.md
  website/docs/meeting/intro.md
  website/docs/meeting/livekit.md
  website/docs/meeting/plugin.md
  website/docs/meeting/sdk.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/meeting/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/meeting/deployment.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/meeting/design.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/meeting/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/meeting/livekit.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/meeting/plugin.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/meeting/sdk.md
  website/static/img/advanced-usage/livekit/1.png
  website/static/img/advanced-usage/livekit/2.png
  website/static/img/advanced-usage/livekit/3.png
  website/static/img/advanced-usage/livekit/4.png
  website/static/img/advanced-usage/livekit/5.png
  website/static/img/advanced-usage/livekit/6.png
  website/static/img/advanced-usage/livekit/7.png
  website/static/img/advanced-usage/livekit/8.png
Due: none

chore: release v1.8.7
  CHANGELOG.md
  package.json
Due: none

docs: release note v1.8.7
  website/blog/2023-07-30-v1.8.7.md
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/2023-07-30-v1.8.7.md
  website/static/img/blog/release-note/v1.8.7/1.png
  website/static/img/blog/release-note/v1.8.7/2.png
  website/static/img/blog/release-note/v1.8.7/3.png
  website/static/img/blog/release-note/v1.8.7/4.png
  website/static/img/blog/release-note/v1.8.7/5.png
  website/static/img/blog/release-note/v1.8.7/6.png
  website/static/img/blog/release-note/v1.8.7/7.png
  website/static/img/blog/release-note/v1.8.7/8.png
Due: none

refactor: add group.addMember which replace group.joinGroup
  server/plugins/com.msgbyte.welcome/services/welcome.service.ts
  server/services/core/group/group.service.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: add some debug code
  client/shared/redux/hooks/useGroup.ts
  client/web/src/components/modals/SettingsView/Account.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): add operate which can add group member
  server/admin/src/client/App.tsx
  server/admin/src/client/i18n.ts
  server/admin/src/client/request.ts
  server/admin/src/client/resources/group.tsx
  server/admin/src/server/router/api.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): allow search user and group with id
  server/admin/src/server/router/api.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add i18n support for antd and WebFastifyForm
  client/packages/design/components/WebMetaForm/index.tsx
  client/packages/design/components/index.ts
  client/shared/i18n/index.ts
  client/web/src/App.tsx
  client/web/src/init.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

style: update translation
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
Due: none

refactor: add onLanguageLoaded event on setWebMetaFormConfig
  client/shared/i18n/index.ts
  client/shared/index.tsx
  client/shared/utils/date-helper.ts
  client/web/src/init.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

chore: upgrade and fix language problem
  client/packages/design/package.json
  pnpm-lock.yaml
Due: none

test: update mock function and fix ci error
  client/shared/i18n/__mocks__/index.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

test: add ErrorView testcase
  client/web/src/components/KeepAliveOverlay/store.ts
  client/web/src/components/__tests__/ErrorView.spec.tsx
  client/web/src/components/__tests__/__snapshots__/ErrorView.spec.tsx.snap
Due: prettier --write --config ./.prettierrc.json, eslint --fix

refactor: adjust the resolution layer of streaming
  server/plugins/com.msgbyte.livekit/web/plugins/com.msgbyte.livekit/src/components/ActiveRoom.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

perf: optimize the loading experience of the web panel
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/plugins/com.msgbyte.offline-icons/src/icons.json
  client/web/src/components/Loading.tsx
  client/web/src/components/Webview.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add grouping by status to member list
  client/shared/i18n/langs/en-US/translation.json
  client/shared/i18n/langs/zh-CN/translation.json
  client/web/src/components/Panel/group/MembersPanel.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat(admin): add analytics page
  server/admin/src/client/App.tsx
  server/admin/src/client/components/Dashboard.tsx
  server/admin/src/client/i18n.ts
  server/admin/src/client/routes/analytics/index.tsx
  server/admin/src/server/router/analytics.ts
  server/admin/src/server/router/api.ts
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add person icon badge when has unprocessed friend request
  client/web/src/routes/Main/Navbar/PersonalNav.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add friend nav item badge when has unprocess friend request
  client/web/src/routes/Main/Content/Personal/Sidebar.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

fix: fix badge in sidebaritem bouncing when hover
  client/web/src/routes/Main/Content/SidebarItem.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix

feat: add local message to avoid network error which occur repeat send same message
  client/shared/model/message.ts
  client/shared/redux/hooks/useConverseMessage.ts
  client/shared/redux/setup.ts
  client/shared/redux/slices/chat.ts
  client/web/src/components/ChatBox/ChatMessageList/Item.tsx
  client/web/src/components/ChatBox/ChatMessageList/MessageAckContainer.tsx
Due: prettier --write --config ./.prettierrc.json, eslint --fix
